In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
wealth_data = pd.read_csv(r'C:\Users\hayli\Documents\DA12\Capstone Project\nss-capstone\data\Social_Vulnerability_Index_2018_-_United_States__tract_20240928.csv')

wealth_data.head(5)

,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,...,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP,Shape
0,1,ALABAMA,AL,Calhoun,1015981901,"Census Tract 9819.01, Calhoun County, Alabama",24.243865,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,656,MULTIPOLYGON (((-86.01323399999995 33.68425800...
1,1,ALABAMA,AL,Calhoun,1015981902,"Census Tract 9819.02, Calhoun County, Alabama",34.646714,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,146,MULTIPOLYGON (((-86.01729599999999 33.69662100...
2,1,ALABAMA,AL,Calhoun,1015981903,"Census Tract 9819.03, Calhoun County, Alabama",13.926276,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-85.78500899999995 33.66553500...
3,1,ALABAMA,AL,Mobile,1097003605,"Census Tract 36.05, Mobile County, Alabama",0.732300,899,316,0,...,-999,1,-999,-999,33,36,3.7,4.1,5135,MULTIPOLYGON (((-88.19230199999998 30.69523500...
4,1,ALABAMA,AL,Mobile,1097990000,"Census Tract 9900, Mobile County, Alabama",0.000000,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-88.05337499999997 30.50698700...

In [3]:
weath_data = pd.DataFrame(data=wealth_data)

In [4]:
wealth_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72837 entries, 0 to 72836
Columns: 124 entries, ST to Shape
dtypes: float64(61), int64(58), object(5)
memory usage: 68.9+ MB

In [5]:
wealth_data

,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,...,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP,Shape
0,1,ALABAMA,AL,Calhoun,1015981901,"Census Tract 9819.01, Calhoun County, Alabama",24.243865,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,656,MULTIPOLYGON (((-86.01323399999995 33.68425800...
1,1,ALABAMA,AL,Calhoun,1015981902,"Census Tract 9819.02, Calhoun County, Alabama",34.646714,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,146,MULTIPOLYGON (((-86.01729599999999 33.69662100...
2,1,ALABAMA,AL,Calhoun,1015981903,"Census Tract 9819.03, Calhoun County, Alabama",13.926276,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-85.78500899999995 33.66553500...
3,1,ALABAMA,AL,Mobile,1097003605,"Census Tract 36.05, Mobile County, Alabama",0.732300,899,316,0,...,-999,1,-999,-999,33,36,3.7,4.1,5135,MULTIPOLYGON (((-88.19230199999998 30.69523500...
4,1,ALABAMA,AL,Mobile,1097990000,"Census Tract 9900, Mobile County, Alabama",0.000000,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-88.05337499999997 30.50698700...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72832,51,VIRGINIA,VA,Albemarle,51003010903,"Census Tract 109.03, Albemarle County, Virginia",0.378015,3159,553,98,...,1,1,4,6,67,47,2.1,1.3,12094,MULTIPOLYGON (((-78.51643399999995 38.02923900...
72833,51,VIRGINIA,VA,Montgomery,51121020202,"Census Tract 202.02, Montgomery County, Virginia",2.278257,2000,232,1140,...,1,1,4,7,102,64,6.0,3.6,2222,MULTIPOLYGON (((-80.44958399999997 37.20061200...
72834,51,VIRGINIA,VA,Newport News City,51700030100,"Census Tract 301, Newport News city, Virginia",1.636259,4274,612,1647,...,1,1,4,9,436,139,14.9,4.6,6558,MULTIPOLYGON (((-76.43529899999999 36.98216400...
72835,53,WASHINGTON,WA,King,53033005302,"Census Tract 53.02, King County, Washington",0.968062,5320,629,127,...,1,1,4,7,267,98,5.1,1.8,40043,MULTIPOLYGON (((-122.31833899999997 47.6553730...
72836,53,WASHINGTON,WA,Yakima,53077000100,"Census Tract 1, Yakima County, Washington",1.136201,3170,325,1047,...,1,1,4,11,450,125,21.8,5.6,18952,MULTIPOLYGON (((-120.51994199999996 46.6045990...

In [6]:
wealth_data_short = wealth_data[['STATE', 'ST_ABBR', 'E_TOTPOP', 'E_POV', 'E_UNEMP', 'E_PCI', 'E_NOHSDP', 'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_NOVEH', 'EP_POV', 'EP_UNEMP', 'EP_PCI', 'EP_NOHSDP', 'EP_AGE65', 'EP_AGE17', 'EP_SNGPNT', 'EP_MINRTY', 'EP_NOVEH', 'EPL_POV', 'EPL_UNEMP', 'EPL_PCI', 'EPL_NOHSDP', 'SPL_THEME1', 'RPL_THEME1', 'EPL_MINRTY', 'F_POV', 'F_UNEMP', 'F_PCI', 'F_NOHSDP', 'F_THEME1', 'F_MINRTY', 'F_LIMENG', 'F_THEME3', 'E_UNINSUR', 'EP_UNINSUR']]

In [7]:
wealth_data_short

,STATE,ST_ABBR,E_TOTPOP,E_POV,E_UNEMP,E_PCI,E_NOHSDP,E_SNGPNT,E_MINRTY,E_LIMENG,...,F_POV,F_UNEMP,F_PCI,F_NOHSDP,F_THEME1,F_MINRTY,F_LIMENG,F_THEME3,E_UNINSUR,EP_UNINSUR
0,ALABAMA,AL,0,0,0,-999,0,0,0,0,...,-999,-999,-999,-999,-999,-999,-999,-999,0,-999.0
1,ALABAMA,AL,0,0,0,-999,0,0,0,0,...,-999,-999,-999,-999,-999,-999,-999,-999,0,-999.0
2,ALABAMA,AL,0,0,0,-999,0,0,0,0,...,-999,-999,-999,-999,-999,-999,-999,-999,0,-999.0
3,ALABAMA,AL,899,0,40,2651,0,0,330,0,...,-999,0,1,-999,-999,0,0,0,33,3.7
4,ALABAMA,AL,0,0,0,-999,0,0,0,0,...,-999,-999,-999,-999,-999,-999,-999,-999,0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72832,VIRGINIA,VA,3159,164,62,4089,44,0,1167,29,...,1,0,1,0,2,0,0,0,67,2.1
72833,VIRGINIA,VA,2000,307,116,31675,242,73,518,32,...,0,1,0,0,1,0,0,0,102,6.0
72834,VIRGINIA,VA,4274,1324,251,13370,575,334,3397,13,...,1,1,1,0,3,0,0,0,436,14.9
72835,WASHINGTON,WA,5320,108,299,4155,27,0,3013,100,...,1,1,1,0,3,0,0,0,267,5.1
72836,WASHINGTON,WA,3170,847,104,11406,845,179,2119,429,...,1,1,1,1,4,0,1,1,450,21.8

In [8]:
wealth_data_state = wealth_data_short.groupby(['STATE', 'ST_ABBR']).sum()[['E_TOTPOP', 'E_POV', 'E_UNEMP', 'E_UNINSUR']].reset_index()
wealth_data_state

                   STATE ST_ABBR  E_TOTPOP    E_POV  E_UNEMP  E_UNINSUR
0                ALABAMA      AL   4864680   829400   147898     477474
1                 ALASKA      AK    738516    77865    28067     102956
2                ARIZONA      AZ   6946685  1092192   210214     748306
3               ARKANSAS      AR   2990671   510337    75774     265434
4             CALIFORNIA      CA  39148760  5487141  1321502    3280167
5               COLORADO      CO   5531141   590504   139326     441850
6            CONNECTICUT      CT   3581504   348449   125909     196809
7               DELAWARE      DE    949495   109798    28501      56491
8   DISTRICT OF COLUMBIA      DC    684498   109497    29373      27088
9                FLORIDA      FL  20598139  2983851   622978    2744513
10               GEORGIA      GA  10297484  1607714   322854    1389541
11                HAWAII      HI   1422029   137516    32036      55624
12                 IDAHO      ID   1687809   228882    37672     183747
13              ILLINOIS      IL  12821497  1635603   437139     928612
14               INDIANA      IN   6637426   908359   180969     596543
15                  IOWA      IA   3132499   353634    65216     152469
16                KANSAS      KS   2908776   350280    65038     256512
17              KENTUCKY      KY   4440204   772080   128358     265416
18             LOUISIANA      LA   4663616   878394   149850     487112
19                 MAINE      ME   1332813   161743    32203     109641
20              MARYLAND      MD   6003435   553496   181089     382130
21         MASSACHUSETTS      MA   6830193   710305   203464     189470
22              MICHIGAN      MI   9957488  1457008   321008     597044
23             MINNESOTA      MN   5527358   547442   119218     254764
24           MISSISSIPPI      MS   2988762   599795   110036     370357
25              MISSOURI      MO   6090062   837930   155958     581002
26               MONTANA      MT   1041732   139063    22433     104910
27              NEBRASKA      NE   1904760   213790    36545     157831
28                NEVADA      NV   2922849   393431   101748     344104
29         NEW HAMPSHIRE      NH   1343622   102352    30392      86274
30            NEW JERSEY      NJ   8881845   904132   285084     743045
31            NEW MEXICO      NM   2092434   390295    58248     220410
32              NEW YORK      NY  19618453  2797985   602636    1255168
33        NORTH CAROLINA      NC  10155624  1523949   312610    1100719
34          NORTH DAKOTA      ND    752201    79270    11689      54485
35                  OHIO      OH  11641879  1645986   343232     743259
36              OKLAHOMA      OK   3918137   607810    99087     545570
37                OREGON      OR   4081943   565247   123485     293690
38          PENNSYLVANIA      PA  12791181  1578949   379765     785624
39          RHODE ISLAND      RI   1056611   133055    34479      54269
40        SOUTH CAROLINA      SC   4955925   770632   153242     535224
41          SOUTH DAKOTA      SD    864289   113144    16252      79489
42             TENNESSEE      TN   6651089  1046508   191544     660872
43                 TEXAS      TX  27885195  4213938   743006    4764897
44                  UTAH      UT   3045350   309904    58958     301761
45               VERMONT      VT    624977    67034    13878      25362
46              VIRGINIA      VA   8413774   893580   217670     755739
47            WASHINGTON      WA   7294336   821621   198330     487856
48         WEST VIRGINIA      WV   1829054   315464    53750     116826
49             WISCONSIN      WI   5778394   668220   124792     329424
50               WYOMING      WY    581836    63311    13685      64887

In [9]:
wealth_data_state['PCNT_POV'] = round(wealth_data_state['E_POV'] / wealth_data_state['E_TOTPOP']*100)

In [10]:
wealth_data_state['PCNT_UNEMP'] = round(wealth_data_state['E_UNEMP'] / wealth_data_state['E_TOTPOP']*100)

In [11]:
wealth_data_state['PCNT_UNINSUR'] = round(wealth_data_state['E_UNINSUR'] / wealth_data_state['E_TOTPOP']*100)

In [12]:
wealth_data_state

,STATE,ST_ABBR,E_TOTPOP,E_POV,E_UNEMP,E_UNINSUR,PCNT_POV,PCNT_UNEMP,PCNT_UNINSUR
0,ALABAMA,AL,4864680,829400,147898,477474,17.0,3.0,10.0
1,ALASKA,AK,738516,77865,28067,102956,11.0,4.0,14.0
2,ARIZONA,AZ,6946685,1092192,210214,748306,16.0,3.0,11.0
3,ARKANSAS,AR,2990671,510337,75774,265434,17.0,3.0,9.0
4,CALIFORNIA,CA,39148760,5487141,1321502,3280167,14.0,3.0,8.0
5,COLORADO,CO,5531141,590504,139326,441850,11.0,3.0,8.0
6,CONNECTICUT,CT,3581504,348449,125909,196809,10.0,4.0,5.0
7,DELAWARE,DE,949495,109798,28501,56491,12.0,3.0,6.0
8,DISTRICT OF COLUMBIA,DC,684498,109497,29373,27088,16.0,4.0,4.0
9,FLORIDA,FL,20598139,2983851,622978,2744513,14.0,3.0,13.0
10,GEORGIA,GA,10297484,1607714,322854,1389541,16.0,3.0,13.0
11,HAWAII,HI,1422029,137516,32036,55624,10.0,2.0,4.0
12,IDAHO,ID,1687809,228882,37672,183747,14.0,2.0,11.0
13,ILLINOIS,IL,12821497,1635603,437139,928612,13.0,3.0,7.0
14,INDIANA,IN,6637426,908359,180969,596543,14.0,3.0,9.0
15,IOWA,IA,3132499,353634,65216,152469,11.0,2.0,5.0
16,KANSAS,KS,2908776,350280,65038,256512,12.0,2.0,9.0
17,KENTUCKY,KY,4440204,772080,128358,265416,17.0,3.0,6.0
18,LOUISIANA,LA,4663616,878394,149850,487112,19.0,3.0,10.0
19,MAINE,ME,1332813,161743,32203,109641,12.0,2.0,8.0
20,MARYLAND,MD,6003435,553496,181089,382130,9.0,3.0,6.0
21,MASSACHUSETTS,MA,6830193,710305,203464,189470,10.0,3.0,3.0
22,MICHIGAN,MI,9957488,1457008,321008,597044,15.0,3.0,6.0
23,MINNESOTA,MN,5527358,547442,119218,254764,10.0,2.0,5.0
24,MISSISSIPPI,MS,2988762,599795,110036,370357,20.0,4.0,12.0
25,MISSOURI,MO,6090062,837930,155958,581002,14.0,3.0,10.0
26,MONTANA,MT,1041732,139063,22433,104910,13.0,2.0,10.0
27,NEBRASKA,NE,1904760,213790,36545,157831,11.0,2.0,8.0
28,NEVADA,NV,2922849,393431,101748,344104,13.0,3.0,12.0
29,NEW HAMPSHIRE,NH,1343622,102352,30392,86274,8.0,2.0,6.0
30,NEW JERSEY,NJ,8881845,904132,285084,743045,10.0,3.0,8.0
31,NEW MEXICO,NM,2092434,390295,58248,220410,19.0,3.0,11.0
32,NEW YORK,NY,19618453,2797985,602636,1255168,14.0,3.0,6.0
33,NORTH CAROLINA,NC,10155624,1523949,312610,1100719,15.0,3.0,11.0
34,NORTH DAKOTA,ND,752201,79270,11689,54485,11.0,2.0,7.0
35,OHIO,OH,11641879,1645986,343232,743259,14.0,3.0,6.0
36,OKLAHOMA,OK,3918137,607810,99087,545570,16.0,3.0,14.0
37,OREGON,OR,4081943,565247,123485,293690,14.0,3.0,7.0
38,PENNSYLVANIA,PA,12791181,1578949,379765,785624,12.0,3.0,6.0
39,RHODE ISLAND,RI,1056611,133055,34479,54269,13.0,3.0,5.0
40,SOUTH CAROLINA,SC,4955925,770632,153242,535224,16.0,3.0,11.0
41,SOUTH DAKOTA,SD,864289,113144,16252,79489,13.0,2.0,9.0
42,TENNESSEE,TN,6651089,1046508,191544,660872,16.0,3.0,10.0
43,TEXAS,TX,27885195,4213938,743006,4764897,15.0,3.0,17.0
44,UTAH,UT,3045350,309904,58958,301761,10.0,2.0,10.0
45,VERMONT,VT,624977,67034,13878,25362,11.0,2.0,4.0
46,VIRGINIA,VA,8413774,893580,217670,755739,11.0,3.0,9.0
47,WASHINGTON,WA,7294336,821621,198330,487856,11.0,3.0,7.0
48,WEST VIRGINIA,WV,1829054,315464,53750,116826,17.0,3.0,6.0
49,WISCONSIN,WI,5778394,668220,124792,329424,12.0,2.0,6.0
50,WYOMING,WY,581836,63311,13685,64887,11.0,2.0,11.0

In [13]:
bottom_5_population = wealth_data_state[['STATE', 'E_TOTPOP']].sort_values('E_TOTPOP', ascending=True).head(5)
bottom_5_population

                   STATE  E_TOTPOP
50               WYOMING    581836
45               VERMONT    624977
8   DISTRICT OF COLUMBIA    684498
1                 ALASKA    738516
34          NORTH DAKOTA    752201

In [14]:
top_5_population = wealth_data_state[['STATE', 'E_TOTPOP']].sort_values('E_TOTPOP', ascending=False).head(5)
top_5_population

         STATE  E_TOTPOP
4   CALIFORNIA  39148760
43       TEXAS  27885195
9      FLORIDA  20598139
32    NEW YORK  19618453
13    ILLINOIS  12821497

In [15]:
top_5_poverty = wealth_data_state[['STATE', 'PCNT_POV']].sort_values('PCNT_POV', ascending=False).head(5)
top_5_poverty

          STATE  PCNT_POV
24  MISSISSIPPI      20.0
18    LOUISIANA      19.0
31   NEW MEXICO      19.0
17     KENTUCKY      17.0
0       ALABAMA      17.0

In [16]:
top_5_wealthy = wealth_data_state[['STATE', 'PCNT_POV']].sort_values('PCNT_POV', ascending=True).head(5)
top_5_wealthy

            STATE  PCNT_POV
29  NEW HAMPSHIRE       8.0
20       MARYLAND       9.0
30     NEW JERSEY      10.0
23      MINNESOTA      10.0
21  MASSACHUSETTS      10.0

In [17]:
top_5_unemployed = wealth_data_state[['STATE', 'PCNT_UNEMP']].sort_values('PCNT_UNEMP', ascending=False).head(5)
top_5_unemployed

                   STATE  PCNT_UNEMP
24           MISSISSIPPI         4.0
1                 ALASKA         4.0
6            CONNECTICUT         4.0
8   DISTRICT OF COLUMBIA         4.0
37                OREGON         3.0

In [18]:
top_5_employed = wealth_data_state[['STATE', 'PCNT_UNEMP']].sort_values('PCNT_UNEMP', ascending=True).head(5)
top_5_employed

        STATE  PCNT_UNEMP
50    WYOMING         2.0
27   NEBRASKA         2.0
26    MONTANA         2.0
49  WISCONSIN         2.0
23  MINNESOTA         2.0

In [19]:
top_5_uninsured = wealth_data_state[['STATE', 'PCNT_UNINSUR']].sort_values('PCNT_UNINSUR', ascending=False).head(5)
top_5_uninsured

       STATE  PCNT_UNINSUR
43     TEXAS          17.0
1     ALASKA          14.0
36  OKLAHOMA          14.0
9    FLORIDA          13.0
10   GEORGIA          13.0

In [20]:
top_5_insured = wealth_data_state[['STATE', 'PCNT_UNINSUR']].sort_values('PCNT_UNINSUR', ascending=True).head(5)
top_5_insured

                   STATE  PCNT_UNINSUR
21         MASSACHUSETTS           3.0
11                HAWAII           4.0
8   DISTRICT OF COLUMBIA           4.0
45               VERMONT           4.0
39          RHODE ISLAND           5.0

In [21]:
chronic_disease = pd.read_csv(r'C:\Users\hayli\Documents\DA12\Capstone Project\nss-capstone\data\U.S._Chronic_Disease_Indicators__CDI___2023_Release.csv')

C:\Users\hayli\AppData\Local\Temp\ipykernel_14012\2803124408.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  chronic_disease = pd.read_csv(r'C:\Users\hayli\Documents\DA12\Capstone Project\nss-capstone\data\U.S._Chronic_Disease_Indicators__CDI___2023_Release.csv')

In [22]:
chronic_disease

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2014,2014,AR,Arkansas,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,5,AST,AST3_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2017,2017,GA,Georgia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,13,AST,AST3_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
4,2010,2010,MI,Michigan,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,26,AST,AST3_1,NMBR,RACE,HIS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185671,2020,2020,WY,Wyoming,BRFSS,Diabetes,Dilated eye examination among adults aged >= 1...,NaN,%,Age-adjusted Prevalence,...,56,DIA,DIA7_0,AGEADJPREV,RACE,WHT,NaN,NaN,NaN,NaN
1185672,2020,2020,WY,Wyoming,BRFSS,Older Adults,Proportion of older adults aged >= 65 years wh...,NaN,%,Crude Prevalence,...,56,OLD,OLD3_1,CRDPREV,RACE,WHT,NaN,NaN,NaN,NaN
1185673,2017,2017,IA,Iowa,BRFSS,Arthritis,Activity limitation due to arthritis among adu...,NaN,%,Age-adjusted Prevalence,...,19,ART,ART2_1,AGEADJPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185674,2020,2020,WY,Wyoming,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,Crude Prevalence,...,56,DIA,DIA2_2,CRDPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185675,2019,2019,RI,Rhode Island,BRFSS,Arthritis,Activity limitation due to arthritis among adu...,NaN,%,Crude Prevalence,...,44,ART,ART2_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [23]:
chronic_disease_2018 = chronic_disease[chronic_disease['YearStart'] == 2018]
chronic_disease_2018

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
17,2018,2018,KS,Kansas,NVSS,Asthma,Asthma mortality rate,NaN,Number,Number,...,20,AST,AST4_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
106,2018,2018,PR,Puerto Rico,SEDD; SID,Chronic Obstructive Pulmonary Disease,Hospitalization for chronic obstructive pulmon...,NaN,NaN,Number,...,72,COPD,COPD5_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
111,2018,2018,DC,District of Columbia,SEDD; SID,Chronic Obstructive Pulmonary Disease,Hospitalization for chronic obstructive pulmon...,NaN,NaN,Number,...,11,COPD,COPD5_2,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185569,2018,2018,WY,Wyoming,BRFSS,Tobacco,Quit attempts in the past year among current s...,NaN,%,Age-adjusted Prevalence,...,56,TOB,TOB3_0,AGEADJPREV,RACE,MRC,NaN,NaN,NaN,NaN
1185577,2018,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,NaN,%,Age-adjusted Prevalence,...,56,TOB,TOB2_2,AGEADJPREV,RACE,OTH,NaN,NaN,NaN,NaN
1185652,2018,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,NaN,%,Crude Prevalence,...,56,TOB,TOB2_2,CRDPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185661,2018,2018,WY,Wyoming,BRFSS,Tobacco,Quit attempts in the past year among current s...,NaN,%,Crude Prevalence,...,56,TOB,TOB3_0,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
1185663,2018,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,NaN,%,Crude Prevalence,...,56,TOB,TOB2_2,CRDPREV,RACE,WHT,NaN,NaN,NaN,NaN

In [24]:
chronic_disease_2018 = chronic_disease_2018[['YearStart', 'LocationAbbr', 'LocationDesc', 'DataSource', 'Topic', 'Question', 'DataValueUnit', 'DataValueType', 'DataValue', 'DataValueAlt', 'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit','StratificationCategoryID1', 'StratificationID1']]

In [25]:
chronic_disease_2018 = chronic_disease_2018.rename(columns={'YearStart' : 'Year'})

In [26]:
chronic_disease_2018 = chronic_disease_2018[chronic_disease_2018['LocationDesc'] != 'United States']

In [27]:
chronic_disease_2018 = chronic_disease_2018[chronic_disease_2018['LocationDesc'] != 'Virgin Islands']

In [28]:
chronic_disease_2018 = chronic_disease_2018[chronic_disease_2018['LocationDesc'] != 'Guam']

In [29]:
chronic_disease_2018 = chronic_disease_2018[chronic_disease_2018['LocationDesc'] != 'Puerto Rico']

In [30]:
chronic_disease_2018

,Year,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,DataValueAlt,DatavalueFootnote,LowConfidenceLimit,HighConfidenceLimit,StratificationCategoryID1,StratificationID1
1,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,Number,2227,2227.0,NaN,NaN,NaN,OVERALL,OVR
2,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,Number,708,708.0,NaN,NaN,NaN,OVERALL,OVR
17,2018,KS,Kansas,NVSS,Asthma,Asthma mortality rate,Number,Number,29,29.0,NaN,NaN,NaN,OVERALL,OVR
111,2018,DC,District of Columbia,SEDD; SID,Chronic Obstructive Pulmonary Disease,Hospitalization for chronic obstructive pulmon...,NaN,Number,4139,4139.0,NaN,NaN,NaN,GENDER,GENF
112,2018,DE,Delaware,SEDD; SID,Chronic Obstructive Pulmonary Disease,Hospitalization for chronic obstructive pulmon...,NaN,Number,4959,4959.0,NaN,NaN,NaN,GENDER,GENM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185569,2018,WY,Wyoming,BRFSS,Tobacco,Quit attempts in the past year among current s...,%,Age-adjusted Prevalence,NaN,NaN,Sample size of denominator and/or age group fo...,NaN,NaN,RACE,MRC
1185577,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,%,Age-adjusted Prevalence,16.7,16.7,NaN,9.4,27.9,RACE,OTH
1185652,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,%,Crude Prevalence,7.4,7.4,NaN,4.4,12.2,RACE,HIS
1185661,2018,WY,Wyoming,BRFSS,Tobacco,Quit attempts in the past year among current s...,%,Crude Prevalence,51.9,51.9,NaN,45.0,58.7,GENDER,GENF
1185663,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,%,Crude Prevalence,8.7,8.7,NaN,7.5,10.0,RACE,WHT

In [31]:
chronic_disease_2018.to_csv('chronic_disease_2018.csv')

In [141]:
Life_expectancy_birth = chronic_disease_2018[chronic_disease_2018['Question'] == "Life expectancy at birth"]
Life_expectancy_birth

,Year,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,DataValueAlt,DatavalueFootnote,LowConfidenceLimit,HighConfidenceLimit,StratificationCategoryID1,StratificationID1
462254,2018,NM,New Mexico,"NVSS, Mortality",Overarching Conditions,Life expectancy at birth,Years,Number,77.2,77.2,NaN,77.0,77.4,OVERALL,OVR
463305,2018,ND,North Dakota,"NVSS, Mortality",Overarching Conditions,Life expectancy at birth,Years,Number,77.0,77.0,NaN,76.6,77.4,GENDER,GENM
466999,2018,UT,Utah,"NVSS, Mortality",Overarching Conditions,Life expectancy at birth,Years,Number,81.5,81.5,NaN,81.3,81.7,GENDER,GENF
474547,2018,UT,Utah,"NVSS, Mortality",Overarching Conditions,Life expectancy at birth,Years,Number,77.7,77.7,NaN,77.5,77.9,GENDER,GENM
475384,2018,MI,Michigan,"NVSS, Mortality",Overarching Conditions,Life expectancy at birth,Years,Number,75.4,75.4,NaN,75.3,75.5,GENDER,GENM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503023,2018,SC,South Carolina,"NVSS, Mortality",Overarching Conditions,Life expectancy at birth,Years,Number,73.7,73.7,NaN,73.5,73.9,GENDER,GENM
503041,2018,IN,Indiana,"NVSS, Mortality",Overarching Conditions,Life expectancy at birth,Years,Number,74.4,74.4,NaN,74.2,74.6,GENDER,GENM
503155,2018,RI,Rhode Island,"NVSS, Mortality",Overarching Conditions,Life expectancy at birth,Years,Number,79.8,79.8,NaN,79.5,80.1,OVERALL,OVR
503274,2018,VT,Vermont,"NVSS, Mortality",Overarching Conditions,Life expectancy at birth,Years,Number,79.3,79.3,NaN,78.9,79.7,OVERALL,OVR
503744,2018,AL,Alabama,"NVSS, Mortality",Overarching Conditions,Life expectancy at birth,Years,Number,72.1,72.1,NaN,71.9,72.3,GENDER,GENM

In [145]:
Life_expectancy_birth.groupby('LocationDesc').mean(numeric_only=True).reset_index()

,LocationDesc,Year,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit
0,Alabama,2018.0,75.066667,74.900000,75.233333
1,Alaska,2018.0,78.066667,77.633333,78.500000
2,Arizona,2018.0,78.733333,78.600000,78.866667
3,Arkansas,2018.0,75.600000,75.400000,75.800000
4,California,2018.0,80.766667,80.700000,80.833333
5,Colorado,2018.0,80.000000,79.866667,80.133333
6,Connecticut,2018.0,80.400000,80.233333,80.566667
7,Delaware,2018.0,77.733333,77.366667,78.100000
8,District of Columbia,2018.0,77.600000,77.133333,78.066667
9,Florida,2018.0,78.900000,78.800000,79.000000
10,Georgia,2018.0,77.200000,77.100000,77.300000
11,Hawaii,2018.0,81.000000,80.733333,81.266667
12,Idaho,2018.0,79.033333,78.766667,79.300000
13,Illinois,2018.0,78.766667,78.666667,78.866667
14,Indiana,2018.0,76.833333,76.700000,76.966667
15,Iowa,2018.0,79.200000,79.000000,79.400000
16,Kansas,2018.0,78.000000,77.800000,78.200000
17,Kentucky,2018.0,75.266667,75.100000,75.433333
18,Louisiana,2018.0,75.600000,75.433333,75.766667
19,Maine,2018.0,78.566667,78.266667,78.866667
20,Maryland,2018.0,78.466667,78.333333,78.600000
21,Massachusetts,2018.0,80.100000,80.000000,80.200000
22,Michigan,2018.0,77.733333,77.633333,77.833333
23,Minnesota,2018.0,80.500000,80.366667,80.633333
24,Mississippi,2018.0,74.600000,74.400000,74.800000
25,Missouri,2018.0,76.600000,76.433333,76.766667
26,Montana,2018.0,78.766667,78.400000,79.133333
27,Nebraska,2018.0,79.100000,78.833333,79.366667
28,Nevada,2018.0,77.933333,77.733333,78.133333
29,New Hampshire,2018.0,79.100000,78.833333,79.366667
30,New Jersey,2018.0,79.800000,79.700000,79.900000
31,New Mexico,2018.0,77.266667,77.000000,77.533333
32,New York,2018.0,80.466667,80.366667,80.566667
33,North Carolina,2018.0,77.566667,77.466667,77.666667
34,North Dakota,2018.0,79.333333,78.966667,79.700000
35,Ohio,2018.0,76.766667,76.666667,76.866667
36,Oklahoma,2018.0,75.633333,75.466667,75.800000
37,Oregon,2018.0,79.700000,79.533333,79.866667
38,Pennsylvania,2018.0,78.133333,78.033333,78.233333
39,Rhode Island,2018.0,79.733333,79.400000,80.066667
40,South Carolina,2018.0,76.500000,76.333333,76.666667
41,South Dakota,2018.0,78.933333,78.566667,79.300000
42,Tennessee,2018.0,75.533333,75.400000,75.666667
43,Texas,2018.0,78.400000,78.300000,78.500000
44,Utah,2018.0,79.600000,79.400000,79.800000
45,Vermont,2018.0,79.333333,78.866667,79.800000
46,Virginia,2018.0,78.966667,78.866667,79.066667
47,Washington,2018.0,80.000000,79.900000,80.100000
48,West Virginia,2018.0,74.466667,74.200000,74.733333
49,Wisconsin,2018.0,79.266667,79.133333,79.400000
50,Wyoming,2018.0,78.166667,77.700000,78.633333

In [149]:
Life_expectancy_65 = chronic_disease_2018[chronic_disease_2018['Question'] == "Life expectancy at age 65 years"]

In [151]:
Life_expectancy_65

,Year,LocationAbbr,LocationDesc,DataSource,Topic,Question,DataValueUnit,DataValueType,DataValue,DataValueAlt,DatavalueFootnote,LowConfidenceLimit,HighConfidenceLimit,StratificationCategoryID1,StratificationID1
467867,2018,GA,Georgia,"NVSS, Mortality",Overarching Conditions,Life expectancy at age 65 years,Years,Number,18.4,18.4,NaN,18.4,18.4,OVERALL,OVR
470841,2018,AR,Arkansas,"NVSS, Mortality",Overarching Conditions,Life expectancy at age 65 years,Years,Number,16.5,16.5,NaN,16.4,16.6,GENDER,GENM
471323,2018,DE,Delaware,"NVSS, Mortality",Overarching Conditions,Life expectancy at age 65 years,Years,Number,17.9,17.9,NaN,17.7,18.1,GENDER,GENM
489147,2018,NV,Nevada,"NVSS, Mortality",Overarching Conditions,Life expectancy at age 65 years,Years,Number,18.7,18.7,NaN,18.6,18.8,OVERALL,OVR
489196,2018,IL,Illinois,"NVSS, Mortality",Overarching Conditions,Life expectancy at age 65 years,Years,Number,20.5,20.5,NaN,20.4,20.6,GENDER,GENF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503656,2018,AK,Alaska,"NVSS, Mortality",Overarching Conditions,Life expectancy at age 65 years,Years,Number,18.2,18.2,NaN,18.0,18.4,GENDER,GENM
503695,2018,CT,Connecticut,"NVSS, Mortality",Overarching Conditions,Life expectancy at age 65 years,Years,Number,18.9,18.9,NaN,18.8,19.0,GENDER,GENM
503746,2018,TN,Tennessee,"NVSS, Mortality",Overarching Conditions,Life expectancy at age 65 years,Years,Number,19.0,19.0,NaN,18.9,19.1,GENDER,GENF
503785,2018,CO,Colorado,"NVSS, Mortality",Overarching Conditions,Life expectancy at age 65 years,Years,Number,20.0,20.0,NaN,19.9,20.1,OVERALL,OVR
503882,2018,DC,District of Columbia,"NVSS, Mortality",Overarching Conditions,Life expectancy at age 65 years,Years,Number,20.9,20.9,NaN,20.6,21.2,GENDER,GENF

In [153]:
Life_expectancy_65.groupby('LocationDesc').mean(numeric_only=True).reset_index()

,LocationDesc,Year,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit
0,Alabama,2018.0,17.533333,17.433333,17.633333
1,Alaska,2018.0,19.200000,19.000000,19.400000
2,Arizona,2018.0,19.600000,19.500000,19.700000
3,Arkansas,2018.0,17.833333,17.733333,17.933333
4,California,2018.0,20.300000,20.300000,20.300000
5,Colorado,2018.0,19.966667,19.866667,20.066667
6,Connecticut,2018.0,20.200000,20.100000,20.300000
7,Delaware,2018.0,19.166667,19.000000,19.333333
8,District of Columbia,2018.0,19.533333,19.266667,19.800000
9,Florida,2018.0,19.833333,19.833333,19.833333
10,Georgia,2018.0,18.333333,18.266667,18.400000
11,Hawaii,2018.0,21.000000,20.833333,21.166667
12,Idaho,2018.0,19.300000,19.133333,19.466667
13,Illinois,2018.0,19.300000,19.233333,19.366667
14,Indiana,2018.0,18.266667,18.166667,18.366667
15,Iowa,2018.0,19.233333,19.133333,19.333333
16,Kansas,2018.0,18.766667,18.666667,18.866667
17,Kentucky,2018.0,17.433333,17.333333,17.533333
18,Louisiana,2018.0,17.866667,17.766667,17.966667
19,Maine,2018.0,19.066667,18.900000,19.233333
20,Maryland,2018.0,19.300000,19.200000,19.400000
21,Massachusetts,2018.0,19.800000,19.700000,19.900000
22,Michigan,2018.0,18.833333,18.766667,18.900000
23,Minnesota,2018.0,19.933333,19.833333,20.033333
24,Mississippi,2018.0,17.466667,17.366667,17.566667
25,Missouri,2018.0,18.366667,18.266667,18.466667
26,Montana,2018.0,19.533333,19.366667,19.700000
27,Nebraska,2018.0,19.233333,19.066667,19.400000
28,Nevada,2018.0,18.733333,18.633333,18.833333
29,New Hampshire,2018.0,19.433333,19.266667,19.600000
30,New Jersey,2018.0,19.800000,19.700000,19.900000
31,New Mexico,2018.0,19.433333,19.333333,19.533333
32,New York,2018.0,20.066667,20.066667,20.066667
33,North Carolina,2018.0,18.666667,18.600000,18.733333
34,North Dakota,2018.0,19.633333,19.400000,19.866667
35,Ohio,2018.0,18.333333,18.266667,18.400000
36,Oklahoma,2018.0,17.566667,17.466667,17.666667
37,Oregon,2018.0,19.633333,19.533333,19.733333
38,Pennsylvania,2018.0,19.033333,18.966667,19.100000
39,Rhode Island,2018.0,19.466667,19.300000,19.633333
40,South Carolina,2018.0,18.533333,18.433333,18.633333
41,South Dakota,2018.0,19.700000,19.500000,19.900000
42,Tennessee,2018.0,17.833333,17.733333,17.933333
43,Texas,2018.0,18.833333,18.833333,18.833333
44,Utah,2018.0,19.500000,19.400000,19.600000
45,Vermont,2018.0,19.766667,19.566667,19.966667
46,Virginia,2018.0,19.233333,19.133333,19.333333
47,Washington,2018.0,19.766667,19.666667,19.866667
48,West Virginia,2018.0,17.566667,17.466667,17.666667
49,Wisconsin,2018.0,19.433333,19.333333,19.533333
50,Wyoming,2018.0,18.966667,18.733333,19.200000

In [129]:
chronic_disease_2018_state2 = chronic_disease_2018.groupby(['LocationAbbr', 'LocationDesc']).mean(numeric_only=True).reset_index()

In [131]:
chronic_disease_2018_state2

,LocationAbbr,LocationDesc,Year,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit
0,AK,Alaska,2018.0,129.486189,46.232245,64.280827
1,AL,Alabama,2018.0,482.824933,54.385408,66.486375
2,AR,Arkansas,2018.0,908.163005,62.389872,74.971624
3,AZ,Arizona,2018.0,1337.984155,53.832203,65.016732
4,CA,California,2018.0,1756.681737,46.511439,55.549456
5,CO,Colorado,2018.0,880.349120,53.759136,65.321377
6,CT,Connecticut,2018.0,276.231769,42.643975,52.813003
7,DC,District of Columbia,2018.0,157.372074,50.350068,63.900135
8,DE,Delaware,2018.0,214.465194,48.282911,61.080217
9,FL,Florida,2018.0,5272.503975,54.182368,64.219274
10,GA,Georgia,2018.0,2220.660484,56.564482,65.728008
11,HI,Hawaii,2018.0,108.271348,41.391572,54.608619
12,IA,Iowa,2018.0,819.361356,64.416113,78.683509
13,ID,Idaho,2018.0,169.283467,48.459959,64.068480
14,IL,Illinois,2018.0,930.676148,45.978909,55.538427
15,IN,Indiana,2018.0,601.774484,50.930402,62.009116
16,KS,Kansas,2018.0,243.160553,51.046132,65.941692
17,KY,Kentucky,2018.0,1765.749790,73.764365,87.201713
18,LA,Louisiana,2018.0,413.056913,51.381804,64.252784
19,MA,Massachusetts,2018.0,501.760300,43.248340,53.942930
20,MD,Maryland,2018.0,1273.757878,51.928970,60.908827
21,ME,Maine,2018.0,299.532412,52.455387,67.009567
22,MI,Michigan,2018.0,2035.417403,57.735891,68.524209
23,MN,Minnesota,2018.0,935.323614,54.892076,66.229637
24,MO,Missouri,2018.0,583.747803,52.819749,65.824447
25,MS,Mississippi,2018.0,738.181190,64.710320,79.440465
26,MT,Montana,2018.0,132.256256,50.116636,66.299674
27,NC,North Carolina,2018.0,2548.908657,64.048339,74.981314
28,ND,North Dakota,2018.0,109.611791,50.910270,67.868743
29,NE,Nebraska,2018.0,384.103174,54.495548,69.409971
30,NH,New Hampshire,2018.0,177.413535,47.452589,60.459699
31,NJ,New Jersey,2018.0,2007.651808,54.133203,65.624002
32,NM,New Mexico,2018.0,299.266376,51.096091,64.484973
33,NV,Nevada,2018.0,757.912575,61.605238,76.041109
34,NY,New York,2018.0,1123.575199,42.573178,51.826691
35,OH,Ohio,2018.0,1031.018339,52.801880,64.218378
36,OK,Oklahoma,2018.0,390.127510,59.843020,73.178499
37,OR,Oregon,2018.0,826.422124,54.753082,67.431988
38,PA,Pennsylvania,2018.0,1131.157082,49.803779,60.361387
39,RI,Rhode Island,2018.0,339.634482,57.758058,72.212837
40,SC,South Carolina,2018.0,923.816230,52.785529,63.481916
41,SD,South Dakota,2018.0,221.712661,56.899190,75.615901
42,TN,Tennessee,2018.0,649.066612,54.454286,67.192878
43,TX,Texas,2018.0,1452.655610,46.078735,58.263903
44,UT,Utah,2018.0,146.952437,42.813670,57.033277
45,VA,Virginia,2018.0,527.529737,44.806432,55.150180
46,VT,Vermont,2018.0,214.990091,52.582441,66.553479
47,WA,Washington,2018.0,862.297106,47.353496,57.185385
48,WI,Wisconsin,2018.0,1278.287210,64.086400,78.515138
49,WV,West Virginia,2018.0,701.871663,68.757596,81.850453
50,WY,Wyoming,2018.0,97.908721,48.183651,64.859309

In [54]:
top_5_states_chronic_disease = chronic_disease_2018_state2.sort_values('DataValueAlt', ascending=False)
top_5_states_chronic_disease.head(5)

,LocationAbbr,LocationDesc,Year,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit
9,FL,Florida,2018.0,5272.503975,54.182368,64.219274
27,NC,North Carolina,2018.0,2548.908657,64.048339,74.981314
10,GA,Georgia,2018.0,2220.660484,56.564482,65.728008
22,MI,Michigan,2018.0,2035.417403,57.735891,68.524209
31,NJ,New Jersey,2018.0,2007.651808,54.133203,65.624002

In [55]:
bottom_5_states_chronic_disease = chronic_disease_2018_state2.sort_values('DataValueAlt', ascending=True)
bottom_5_states_chronic_disease.head(5)

,LocationAbbr,LocationDesc,Year,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit
50,WY,Wyoming,2018.0,97.908721,48.183651,64.859309
11,HI,Hawaii,2018.0,108.271348,41.391572,54.608619
28,ND,North Dakota,2018.0,109.611791,50.910270,67.868743
0,AK,Alaska,2018.0,129.486189,46.232245,64.280827
26,MT,Montana,2018.0,132.256256,50.116636,66.299674

In [56]:
chronic_disease_2018_state = chronic_disease_2018.groupby(['LocationAbbr', 'LocationDesc', 'Topic', 'StratificationCategoryID1', 'StratificationID1']).mean(['DataValue','DataValueAlt', 'LowConfidenceLimit', 'HighConfidenceLimit']).reset_index()

In [57]:
chronic_disease_2018_state

,LocationAbbr,LocationDesc,Topic,StratificationCategoryID1,StratificationID1,Year,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit
0,AK,Alaska,Alcohol,GENDER,GENF,2018.0,13.600000,6.820000,11.750000
1,AK,Alaska,Alcohol,GENDER,GENM,2018.0,15.563636,8.890000,13.340000
2,AK,Alaska,Alcohol,OVERALL,OVR,2018.0,20.713333,12.300000,16.761538
3,AK,Alaska,Alcohol,RACE,AIAN,2018.0,40.200000,30.766667,50.366667
4,AK,Alaska,Alcohol,RACE,API,2018.0,42.100000,29.300000,56.000000
...,...,...,...,...,...,...,...,...,...
7738,WY,Wyoming,Tobacco,RACE,BLK,2018.0,NaN,NaN,NaN
7739,WY,Wyoming,Tobacco,RACE,HIS,2018.0,27.575000,20.150000,36.512500
7740,WY,Wyoming,Tobacco,RACE,MRC,2018.0,NaN,NaN,NaN
7741,WY,Wyoming,Tobacco,RACE,OTH,2018.0,24.175000,15.200000,36.350000
7742,WY,Wyoming,Tobacco,RACE,WHT,2018.0,29.925000,25.341667,34.675000

In [58]:
death_count = pd.read_csv(r'C:\Users\hayli\Documents\DA12\Capstone Project\nss-capstone\data\Weekly_Counts_of_Deaths_by_State_and_Select_Causes__2014-2019_20241003.csv')

In [59]:
death_count

,Jurisdiction of Occurrence,MMWR Year,MMWR Week,Week Ending Date,All Cause,Natural Cause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),...,flag_neopl,flag_diab,flag_alz,flag_inflpn,flag_clrd,flag_otherresp,flag_nephr,flag_otherunk,flag_hd,flag_stroke
0,Florida,2014,43,10/25/2014,3381,3149,38.0,854.0,81.0,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Florida,2014,44,11/01/2014,3501,3261,43.0,859.0,85.0,130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Florida,2014,45,11/08/2014,3646,3369,44.0,838.0,121.0,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Florida,2014,46,11/15/2014,3615,3346,43.0,828.0,110.0,133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Florida,2014,47,11/22/2014,3672,3383,39.0,824.0,109.0,135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16897,Puerto Rico,2019,48,11/30/2019,619,568,NaN,113.0,62.0,53.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16898,Puerto Rico,2019,49,12/07/2019,555,530,15.0,109.0,62.0,46.0,...,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16899,Puerto Rico,2019,50,12/14/2019,526,492,NaN,91.0,56.0,39.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16900,Puerto Rico,2019,51,12/21/2019,577,533,17.0,92.0,59.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16901,Puerto Rico,2019,52,12/28/2019,553,511,11.0,96.0,53.0,39.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN

In [60]:
death_count = death_count.rename(columns={'Jurisdiction of Occurrence' : 'State', 'MMWR Year' : 'Year', 'MMWR Week': 'Week', 'Week Ending Date' : 'Week_End_Date', 'All  Cause' : 'All_Cause',  'Natural Cause' : 'Natural_Cause', 'Septicemia (A40-A41)' : 'Septicemia', 'Malignant neoplasms (C00-C97)' : 'Malignant_Neoplasms', 'Diabetes mellitus (E10-E14)' : 'Diabetes', 'Alzheimer disease (G30)' : 'Alzheimer', 'Influenza and pneumonia (J10-J18)' : 'Flu_and_Pneumonia', 'Chronic lower respiratory diseases (J40-J47)' : 'Lower_Resp_Diseases', 'Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)' : 'Other_Resp_Diseases',	'Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)' : 'Nephritis', 'Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)' : 'Abnormal_Findings',	'Diseases of heart (I00-I09,I11,I13,I20-I51)' : 'Heart_Disease',	'Cerebrovascular diseases (I60-I69)' : 'Cerebrovascular_diseases'})

In [61]:
death_count

,State,Year,Week,Week_End_Date,All_Cause,Natural_Cause,Septicemia,Malignant_Neoplasms,Diabetes,Alzheimer,...,flag_neopl,flag_diab,flag_alz,flag_inflpn,flag_clrd,flag_otherresp,flag_nephr,flag_otherunk,flag_hd,flag_stroke
0,Florida,2014,43,10/25/2014,3381,3149,38.0,854.0,81.0,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Florida,2014,44,11/01/2014,3501,3261,43.0,859.0,85.0,130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Florida,2014,45,11/08/2014,3646,3369,44.0,838.0,121.0,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Florida,2014,46,11/15/2014,3615,3346,43.0,828.0,110.0,133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Florida,2014,47,11/22/2014,3672,3383,39.0,824.0,109.0,135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16897,Puerto Rico,2019,48,11/30/2019,619,568,NaN,113.0,62.0,53.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16898,Puerto Rico,2019,49,12/07/2019,555,530,15.0,109.0,62.0,46.0,...,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16899,Puerto Rico,2019,50,12/14/2019,526,492,NaN,91.0,56.0,39.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,NaN,NaN,NaN
16900,Puerto Rico,2019,51,12/21/2019,577,533,17.0,92.0,59.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16901,Puerto Rico,2019,52,12/28/2019,553,511,11.0,96.0,53.0,39.0,...,NaN,NaN,NaN,NaN,NaN,Suppressed (counts 1-9),NaN,Suppressed (counts 1-9),NaN,NaN

In [62]:
death_count_short = death_count[['State', 'Year', 'All_Cause', 'Natural_Cause', 'Septicemia', 'Malignant_Neoplasms', 'Diabetes', 'Alzheimer', 'Flu_and_Pneumonia', 'Lower_Resp_Diseases', 'Other_Resp_Diseases','Nephritis', 'Abnormal_Findings', 'Heart_Disease', 'Cerebrovascular_diseases']]

In [63]:
death_count_2018 = death_count_short[death_count_short['Year'] == 2018]

In [64]:
death_count_2018

,State,Year,All_Cause,Natural_Cause,Septicemia,Malignant_Neoplasms,Diabetes,Alzheimer,Flu_and_Pneumonia,Lower_Resp_Diseases,Other_Resp_Diseases,Nephritis,Abnormal_Findings,Heart_Disease,Cerebrovascular_diseases
244,United States,2018,66142,61016,1066.0,11920.0,2110.0,2958.0,2509.0,4207.0,1086.0,1219.0,745.0,16020.0,3359.0
245,United States,2018,67501,62573,1044.0,12408.0,2036.0,3212.0,2886.0,4373.0,1050.0,1237.0,749.0,15937.0,3362.0
246,United States,2018,64650,60052,1040.0,11871.0,1955.0,3103.0,2930.0,4193.0,1027.0,1222.0,715.0,14900.0,3364.0
247,United States,2018,62784,58011,960.0,11812.0,1779.0,2959.0,2695.0,4004.0,1030.0,1191.0,658.0,14336.0,3286.0
248,United States,2018,60980,56268,979.0,11499.0,1851.0,2832.0,2495.0,3742.0,1016.0,1165.0,679.0,13902.0,3089.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16845,Puerto Rico,2018,535,490,NaN,84.0,63.0,46.0,11.0,17.0,NaN,18.0,19.0,81.0,13.0
16846,Puerto Rico,2018,590,547,18.0,93.0,69.0,53.0,11.0,28.0,NaN,20.0,12.0,104.0,20.0
16847,Puerto Rico,2018,614,574,15.0,115.0,70.0,48.0,16.0,22.0,NaN,14.0,18.0,105.0,28.0
16848,Puerto Rico,2018,573,543,11.0,87.0,72.0,46.0,17.0,22.0,NaN,13.0,16.0,108.0,24.0
16849,Puerto Rico,2018,625,596,15.0,107.0,78.0,55.0,24.0,17.0,10.0,18.0,21.0,109.0,24.0

In [65]:
death_count_2018 = death_count_2018.groupby(['State', 'Year']).sum().reset_index()

In [66]:
death_count_2018

,State,Year,All_Cause,Natural_Cause,Septicemia,Malignant_Neoplasms,Diabetes,Alzheimer,Flu_and_Pneumonia,Lower_Resp_Diseases,Other_Resp_Diseases,Nephritis,Abnormal_Findings,Heart_Disease,Cerebrovascular_diseases
0,Alabama,2018,53146,49052,1003.0,10383.0,1132.0,2566.0,1237.0,3534.0,921.0,1006.0,967.0,13287.0,2976.0
1,Alaska,2018,4289,3614,0.0,884.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,762.0,10.0
2,Arizona,2018,59495,53076,131.0,12127.0,2033.0,3017.0,1070.0,3851.0,904.0,612.0,1133.0,12629.0,2815.0
3,Arkansas,2018,31744,29318,238.0,6351.0,1199.0,1452.0,511.0,2394.0,140.0,601.0,0.0,8049.0,1484.0
4,California,2018,268145,247074,1602.0,60012.0,9475.0,16585.0,6938.0,13595.0,2937.0,3908.0,1252.0,62358.0,16416.0
5,Colorado,2018,39007,34225,294.0,7869.0,987.0,1655.0,361.0,2652.0,490.0,252.0,30.0,7495.0,2046.0
6,Connecticut,2018,31333,28697,445.0,6528.0,647.0,981.0,630.0,1439.0,369.0,493.0,122.0,7228.0,1403.0
7,Delaware,2018,9449,8598,0.0,2067.0,11.0,178.0,33.0,351.0,0.0,0.0,0.0,2070.0,538.0
8,District of Columbia,2018,6127,5363,0.0,1319.0,11.0,0.0,10.0,0.0,0.0,0.0,0.0,1530.0,84.0
9,Florida,2018,205757,187388,2489.0,44862.0,6206.0,6659.0,3080.0,12379.0,2812.0,3144.0,3004.0,47335.0,13401.0
10,Georgia,2018,85356,78389,1681.0,17504.0,2463.0,4574.0,1551.0,5004.0,1971.0,2036.0,1179.0,19022.0,4536.0
11,Hawaii,2018,11427,10499,0.0,2384.0,54.0,280.0,377.0,116.0,0.0,0.0,0.0,2583.0,731.0
12,Idaho,2018,14114,12729,0.0,3038.0,180.0,598.0,67.0,897.0,32.0,0.0,0.0,3077.0,665.0
13,Illinois,2018,106459,98005,1702.0,23298.0,2790.0,3976.0,2510.0,5463.0,1591.0,2559.0,1107.0,24909.0,5608.0
14,Indiana,2018,66066,60545,1234.0,13405.0,2114.0,2696.0,1101.0,4684.0,1119.0,1435.0,194.0,14714.0,3137.0
15,Iowa,2018,30112,28009,69.0,6382.0,876.0,1444.0,516.0,1857.0,216.0,118.0,51.0,7180.0,1421.0
16,Kansas,2018,26374,24142,46.0,5263.0,729.0,870.0,439.0,1773.0,182.0,325.0,195.0,5659.0,1206.0
17,Kentucky,2018,48114,43967,906.0,10112.0,1505.0,1611.0,885.0,3375.0,926.0,1018.0,599.0,10582.0,2130.0
18,Louisiana,2018,46036,41750,1129.0,9313.0,1456.0,2164.0,706.0,2341.0,996.0,1132.0,479.0,11346.0,2512.0
19,Maine,2018,14507,13178,0.0,3225.0,267.0,463.0,101.0,916.0,21.0,10.0,0.0,2929.0,610.0
20,Maryland,2018,50018,44770,892.0,10844.0,1420.0,1120.0,918.0,2226.0,511.0,846.0,0.0,11534.0,2811.0
21,Massachusetts,2018,59800,54880,999.0,12923.0,1388.0,1833.0,1478.0,2771.0,1064.0,1195.0,870.0,12121.0,2438.0
22,Michigan,2018,97234,89174,1231.0,20683.0,2785.0,4455.0,1829.0,5699.0,1284.0,1891.0,433.0,24972.0,5057.0
23,Minnesota,2018,44583,40826,197.0,9980.0,1292.0,2432.0,486.0,2331.0,631.0,494.0,976.0,8339.0,2234.0
24,Mississippi,2018,31594,29017,209.0,6332.0,1082.0,1560.0,887.0,2124.0,390.0,755.0,205.0,7633.0,1687.0
25,Missouri,2018,65345,59066,922.0,13530.0,1646.0,2646.0,1515.0,4039.0,1242.0,1598.0,339.0,15239.0,3242.0
26,Montana,2018,9951,8981,0.0,2004.0,0.0,33.0,23.0,649.0,0.0,0.0,0.0,2353.0,187.0
27,Nebraska,2018,17103,15934,0.0,3567.0,507.0,627.0,201.0,1160.0,67.0,10.0,0.0,3536.0,740.0
28,Nevada,2018,25325,22649,31.0,5171.0,652.0,654.0,400.0,1665.0,21.0,54.0,20.0,6612.0,1272.0
29,New Hampshire,2018,12459,11165,0.0,2616.0,0.0,311.0,88.0,707.0,0.0,10.0,0.0,2708.0,265.0
30,New Jersey,2018,74511,68710,1947.0,15650.0,1859.0,2723.0,1433.0,3184.0,1714.0,1685.0,1115.0,18781.0,3353.0
31,New Mexico,2018,18354,16042,0.0,3542.0,544.0,455.0,155.0,1139.0,33.0,50.0,0.0,3870.0,745.0
32,New York,2018,100301,93599,1308.0,21446.0,2515.0,2474.0,2690.0,5381.0,1747.0,1906.0,1442.0,26313.0,4213.0
33,New York City,2018,54600,51220,200.0,12930.0,1954.0,1178.0,1997.0,1765.0,267.0,197.0,409.0,17607.0,1862.0
34,North Carolina,2018,94459,86076,1550.0,19952.0,3007.0,4506.0,2064.0,5361.0,1508.0,1960.0,823.0,19270.0,5061.0
35,North Dakota,2018,6997,6395,0.0,1398.0,23.0,111.0,20.0,67.0,0.0,0.0,0.0,1459.0,147.0
36,Ohio,2018,124211,113598,2042.0,25135.0,3848.0,5422.0,2385.0,7527.0,2137.0,2182.0,1852.0,29105.0,6563.0
37,Oklahoma,2018,39776,35973,162.0,8232.0,1304.0,1713.0,631.0,2935.0,164.0,178.0,10.0,10382.0,1803.0
38,Oregon,2018,36048,32830,0.0,8079.0,1235.0,1864.0,365.0,1886.0,241.0,121.0,239.0,6714.0,2015.0
39,Pennsylvania,2018,135564,123715,2463.0,28175.0,3586.0,4030.0,2923.0,6468.0,2410.0,2926.0,2563.0,32839.0,6690.0
40,Puerto Rico,2018,28869,26970,643.0,5010.0,3043.0,2192.0,803.0,1030.0,115.0,882.0,781.0,5278.0,1159.0
41,Rhode Island,2018,10427,9472,0.0,2243.0,10.0,303.0,26.0,330.0,0.0,10.0,0.0,2480.0,306.0
42,South Carolina,2018,49400,44691,872.0,10070.0,1554.0,2589.0,730.0,2947.0,663.0,941.0,472.0,10260.0,2752.0
43,South Dakota,2018,8083,7382,0.0,1646.0,44.0,210.0,12.0,319.0,0.0,0.0,0.0,1797.0,120.0
44,Tennessee,2018,74574,67680,1055.0,14681.0,2079.0,3550.0,1788.0,4825.0,977.0,1207.0,1007.0,17043.0,3904.0
45,Texas,2018,203781,187002,4464.0,41266.0,6006.0,9789.0,3579.0,10877.0,3326.0,4581.0,2421.0,46981.0,10919.0
46,United States,2018,2832001,2587434,40634.0,597686.0,84672.0,121737.0,59071.0,159156.0,43721.0,51261.0,32457.0,653710.0,147501.0
47,Utah,2018,18931,16743,0.0,3351.0,556.0,1049.0,182.0,884.0,31.0,56.0,35.0,3859.0,958.0
48,Vermont,2018,5766,5159,0.0,1340.0,0.0,87.0,0.0,76.0,0.0,0.0,0.0,1300.0,10.0
49,Virginia,2018,68229,62570,1111.0,14874.0,2268.0,2596.0,1230.0,3405.0,1215.0,1543.0,576.0,14407.0,3749.0
50,Washington,2018,56691,51575,429.0,12834.0,1771.0,3750.0,799.0,3002.0,766.0,144.0,292.0,11595.0,2893.0
51,West Virginia,2018,22843,20507,75.0,4571.0,918.0,715.0,285.0,1681.0,11.0,296.0,311.0,4881.0,954.0
52,Wisconsin,2018,53346,48303,449.0,11372.0,1518.0,2455.0,979.0,2862.0,636.0,892.0,11.0,11954.0,2516.0
53,Wyoming,2018,4640,4112,0.0,916.0,0.0,20.0,0.0,169.0,0.0,0.0,0.0,990.0,0.0

In [67]:
death_count_2018['PCNT_Natural'] = round(death_count_2018['Natural_Cause'] / death_count_2018['All_Cause']*100)

In [68]:
death_count_2018['PCNT_Septicemia'] = round(death_count_2018['Septicemia'] / death_count_2018['All_Cause']*100)

In [69]:
death_count_2018['PCNT_Malignant_Neoplasms'] = round(death_count_2018['Malignant_Neoplasms'] / death_count_2018['All_Cause']*100)

In [70]:
death_count_2018['PCNT_Diabetes'] = round(death_count_2018['Diabetes'] / death_count_2018['All_Cause']*100)

In [71]:
death_count_2018['PCNT_Alzheimer'] = round(death_count_2018['Alzheimer'] / death_count_2018['All_Cause']*100)

In [72]:
death_count_2018['PCNT_Flu_and_Pneumonia'] = round(death_count_2018['Flu_and_Pneumonia'] / death_count_2018['All_Cause']*100)

In [73]:
death_count_2018['PCNT_Lower_Resp_Diseases'] = round(death_count_2018['Lower_Resp_Diseases'] / death_count_2018['All_Cause']*100)

In [74]:
death_count_2018['PCNT_Other_Resp_Diseases'] = round(death_count_2018['Other_Resp_Diseases'] / death_count_2018['All_Cause']*100)

In [75]:
death_count_2018['PCNT_Nephritis'] = round(death_count_2018['Nephritis'] / death_count_2018['All_Cause']*100)

In [76]:
death_count_2018['PCNT_Abnormal_Findings'] = round(death_count_2018['Abnormal_Findings'] / death_count_2018['All_Cause']*100)

In [77]:
death_count_2018['PCNT_Heart_Disease'] = round(death_count_2018['Heart_Disease'] / death_count_2018['All_Cause']*100)

In [78]:
death_count_2018['PCNT_Cerebrovascular_diseases'] = round(death_count_2018['Cerebrovascular_diseases'] / death_count_2018['All_Cause']*100)

In [79]:
death_count_2018

,State,Year,All_Cause,Natural_Cause,Septicemia,Malignant_Neoplasms,Diabetes,Alzheimer,Flu_and_Pneumonia,Lower_Resp_Diseases,...,PCNT_Malignant_Neoplasms,PCNT_Diabetes,PCNT_Alzheimer,PCNT_Flu_and_Pneumonia,PCNT_Lower_Resp_Diseases,PCNT_Other_Resp_Diseases,PCNT_Nephritis,PCNT_Abnormal_Findings,PCNT_Heart_Disease,PCNT_Cerebrovascular_diseases
0,Alabama,2018,53146,49052,1003.0,10383.0,1132.0,2566.0,1237.0,3534.0,...,20.0,2.0,5.0,2.0,7.0,2.0,2.0,2.0,25.0,6.0
1,Alaska,2018,4289,3614,0.0,884.0,0.0,0.0,0.0,0.0,...,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0
2,Arizona,2018,59495,53076,131.0,12127.0,2033.0,3017.0,1070.0,3851.0,...,20.0,3.0,5.0,2.0,6.0,2.0,1.0,2.0,21.0,5.0
3,Arkansas,2018,31744,29318,238.0,6351.0,1199.0,1452.0,511.0,2394.0,...,20.0,4.0,5.0,2.0,8.0,0.0,2.0,0.0,25.0,5.0
4,California,2018,268145,247074,1602.0,60012.0,9475.0,16585.0,6938.0,13595.0,...,22.0,4.0,6.0,3.0,5.0,1.0,1.0,0.0,23.0,6.0
5,Colorado,2018,39007,34225,294.0,7869.0,987.0,1655.0,361.0,2652.0,...,20.0,3.0,4.0,1.0,7.0,1.0,1.0,0.0,19.0,5.0
6,Connecticut,2018,31333,28697,445.0,6528.0,647.0,981.0,630.0,1439.0,...,21.0,2.0,3.0,2.0,5.0,1.0,2.0,0.0,23.0,4.0
7,Delaware,2018,9449,8598,0.0,2067.0,11.0,178.0,33.0,351.0,...,22.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,22.0,6.0
8,District of Columbia,2018,6127,5363,0.0,1319.0,11.0,0.0,10.0,0.0,...,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,1.0
9,Florida,2018,205757,187388,2489.0,44862.0,6206.0,6659.0,3080.0,12379.0,...,22.0,3.0,3.0,1.0,6.0,1.0,2.0,1.0,23.0,7.0
10,Georgia,2018,85356,78389,1681.0,17504.0,2463.0,4574.0,1551.0,5004.0,...,21.0,3.0,5.0,2.0,6.0,2.0,2.0,1.0,22.0,5.0
11,Hawaii,2018,11427,10499,0.0,2384.0,54.0,280.0,377.0,116.0,...,21.0,0.0,2.0,3.0,1.0,0.0,0.0,0.0,23.0,6.0
12,Idaho,2018,14114,12729,0.0,3038.0,180.0,598.0,67.0,897.0,...,22.0,1.0,4.0,0.0,6.0,0.0,0.0,0.0,22.0,5.0
13,Illinois,2018,106459,98005,1702.0,23298.0,2790.0,3976.0,2510.0,5463.0,...,22.0,3.0,4.0,2.0,5.0,1.0,2.0,1.0,23.0,5.0
14,Indiana,2018,66066,60545,1234.0,13405.0,2114.0,2696.0,1101.0,4684.0,...,20.0,3.0,4.0,2.0,7.0,2.0,2.0,0.0,22.0,5.0
15,Iowa,2018,30112,28009,69.0,6382.0,876.0,1444.0,516.0,1857.0,...,21.0,3.0,5.0,2.0,6.0,1.0,0.0,0.0,24.0,5.0
16,Kansas,2018,26374,24142,46.0,5263.0,729.0,870.0,439.0,1773.0,...,20.0,3.0,3.0,2.0,7.0,1.0,1.0,1.0,21.0,5.0
17,Kentucky,2018,48114,43967,906.0,10112.0,1505.0,1611.0,885.0,3375.0,...,21.0,3.0,3.0,2.0,7.0,2.0,2.0,1.0,22.0,4.0
18,Louisiana,2018,46036,41750,1129.0,9313.0,1456.0,2164.0,706.0,2341.0,...,20.0,3.0,5.0,2.0,5.0,2.0,2.0,1.0,25.0,5.0
19,Maine,2018,14507,13178,0.0,3225.0,267.0,463.0,101.0,916.0,...,22.0,2.0,3.0,1.0,6.0,0.0,0.0,0.0,20.0,4.0
20,Maryland,2018,50018,44770,892.0,10844.0,1420.0,1120.0,918.0,2226.0,...,22.0,3.0,2.0,2.0,4.0,1.0,2.0,0.0,23.0,6.0
21,Massachusetts,2018,59800,54880,999.0,12923.0,1388.0,1833.0,1478.0,2771.0,...,22.0,2.0,3.0,2.0,5.0,2.0,2.0,1.0,20.0,4.0
22,Michigan,2018,97234,89174,1231.0,20683.0,2785.0,4455.0,1829.0,5699.0,...,21.0,3.0,5.0,2.0,6.0,1.0,2.0,0.0,26.0,5.0
23,Minnesota,2018,44583,40826,197.0,9980.0,1292.0,2432.0,486.0,2331.0,...,22.0,3.0,5.0,1.0,5.0,1.0,1.0,2.0,19.0,5.0
24,Mississippi,2018,31594,29017,209.0,6332.0,1082.0,1560.0,887.0,2124.0,...,20.0,3.0,5.0,3.0,7.0,1.0,2.0,1.0,24.0,5.0
25,Missouri,2018,65345,59066,922.0,13530.0,1646.0,2646.0,1515.0,4039.0,...,21.0,3.0,4.0,2.0,6.0,2.0,2.0,1.0,23.0,5.0
26,Montana,2018,9951,8981,0.0,2004.0,0.0,33.0,23.0,649.0,...,20.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,24.0,2.0
27,Nebraska,2018,17103,15934,0.0,3567.0,507.0,627.0,201.0,1160.0,...,21.0,3.0,4.0,1.0,7.0,0.0,0.0,0.0,21.0,4.0
28,Nevada,2018,25325,22649,31.0,5171.0,652.0,654.0,400.0,1665.0,...,20.0,3.0,3.0,2.0,7.0,0.0,0.0,0.0,26.0,5.0
29,New Hampshire,2018,12459,11165,0.0,2616.0,0.0,311.0,88.0,707.0,...,21.0,0.0,2.0,1.0,6.0,0.0,0.0,0.0,22.0,2.0
30,New Jersey,2018,74511,68710,1947.0,15650.0,1859.0,2723.0,1433.0,3184.0,...,21.0,2.0,4.0,2.0,4.0,2.0,2.0,1.0,25.0,5.0
31,New Mexico,2018,18354,16042,0.0,3542.0,544.0,455.0,155.0,1139.0,...,19.0,3.0,2.0,1.0,6.0,0.0,0.0,0.0,21.0,4.0
32,New York,2018,100301,93599,1308.0,21446.0,2515.0,2474.0,2690.0,5381.0,...,21.0,3.0,2.0,3.0,5.0,2.0,2.0,1.0,26.0,4.0
33,New York City,2018,54600,51220,200.0,12930.0,1954.0,1178.0,1997.0,1765.0,...,24.0,4.0,2.0,4.0,3.0,0.0,0.0,1.0,32.0,3.0
34,North Carolina,2018,94459,86076,1550.0,19952.0,3007.0,4506.0,2064.0,5361.0,...,21.0,3.0,5.0,2.0,6.0,2.0,2.0,1.0,20.0,5.0
35,North Dakota,2018,6997,6395,0.0,1398.0,23.0,111.0,20.0,67.0,...,20.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,21.0,2.0
36,Ohio,2018,124211,113598,2042.0,25135.0,3848.0,5422.0,2385.0,7527.0,...,20.0,3.0,4.0,2.0,6.0,2.0,2.0,1.0,23.0,5.0
37,Oklahoma,2018,39776,35973,162.0,8232.0,1304.0,1713.0,631.0,2935.0,...,21.0,3.0,4.0,2.0,7.0,0.0,0.0,0.0,26.0,5.0
38,Oregon,2018,36048,32830,0.0,8079.0,1235.0,1864.0,365.0,1886.0,...,22.0,3.0,5.0,1.0,5.0,1.0,0.0,1.0,19.0,6.0
39,Pennsylvania,2018,135564,123715,2463.0,28175.0,3586.0,4030.0,2923.0,6468.0,...,21.0,3.0,3.0,2.0,5.0,2.0,2.0,2.0,24.0,5.0
40,Puerto Rico,2018,28869,26970,643.0,5010.0,3043.0,2192.0,803.0,1030.0,...,17.0,11.0,8.0,3.0,4.0,0.0,3.0,3.0,18.0,4.0
41,Rhode Island,2018,10427,9472,0.0,2243.0,10.0,303.0,26.0,330.0,...,22.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0,24.0,3.0
42,South Carolina,2018,49400,44691,872.0,10070.0,1554.0,2589.0,730.0,2947.0,...,20.0,3.0,5.0,1.0,6.0,1.0,2.0,1.0,21.0,6.0
43,South Dakota,2018,8083,7382,0.0,1646.0,44.0,210.0,12.0,319.0,...,20.0,1.0,3.0,0.0,4.0,0.0,0.0,0.0,22.0,1.0
44,Tennessee,2018,74574,67680,1055.0,14681.0,2079.0,3550.0,1788.0,4825.0,...,20.0,3.0,5.0,2.0,6.0,1.0,2.0,1.0,23.0,5.0
45,Texas,2018,203781,187002,4464.0,41266.0,6006.0,9789.0,3579.0,10877.0,...,20.0,3.0,5.0,2.0,5.0,2.0,2.0,1.0,23.0,5.0
46,United States,2018,2832001,2587434,40634.0,597686.0,84672.0,121737.0,59071.0,159156.0,...,21.0,3.0,4.0,2.0,6.0,2.0,2.0,1.0,23.0,5.0
47,Utah,2018,18931,16743,0.0,3351.0,556.0,1049.0,182.0,884.0,...,18.0,3.0,6.0,1.0,5.0,0.0,0.0,0.0,20.0,5.0
48,Vermont,2018,5766,5159,0.0,1340.0,0.0,87.0,0.0,76.0,...,23.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,23.0,0.0
49,Virginia,2018,68229,62570,1111.0,14874.0,2268.0,2596.0,1230.0,3405.0,...,22.0,3.0,4.0,2.0,5.0,2.0,2.0,1.0,21.0,5.0
50,Washington,2018,56691,51575,429.0,12834.0,1771.0,3750.0,799.0,3002.0,...,23.0,3.0,7.0,1.0,5.0,1.0,0.0,1.0,20.0,5.0
51,West Virginia,2018,22843,20507,75.0,4571.0,918.0,715.0,285.0,1681.0,...,20.0,4.0,3.0,1.0,7.0,0.0,1.0,1.0,21.0,4.0
52,Wisconsin,2018,53346,48303,449.0,11372.0,1518.0,2455.0,979.0,2862.0,...,21.0,3.0,5.0,2.0,5.0,1.0,2.0,0.0,22.0,5.0
53,Wyoming,2018,4640,4112,0.0,916.0,0.0,20.0,0.0,169.0,...,20.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,21.0,0.0

In [80]:
death_count_2018 = death_count_2018[death_count_2018['State'] != 'United States']

In [81]:
death_count_2018 = death_count_2018[death_count_2018['State'] != 'Puerto Rico']

In [82]:
death_count_2018

,State,Year,All_Cause,Natural_Cause,Septicemia,Malignant_Neoplasms,Diabetes,Alzheimer,Flu_and_Pneumonia,Lower_Resp_Diseases,...,PCNT_Malignant_Neoplasms,PCNT_Diabetes,PCNT_Alzheimer,PCNT_Flu_and_Pneumonia,PCNT_Lower_Resp_Diseases,PCNT_Other_Resp_Diseases,PCNT_Nephritis,PCNT_Abnormal_Findings,PCNT_Heart_Disease,PCNT_Cerebrovascular_diseases
0,Alabama,2018,53146,49052,1003.0,10383.0,1132.0,2566.0,1237.0,3534.0,...,20.0,2.0,5.0,2.0,7.0,2.0,2.0,2.0,25.0,6.0
1,Alaska,2018,4289,3614,0.0,884.0,0.0,0.0,0.0,0.0,...,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0
2,Arizona,2018,59495,53076,131.0,12127.0,2033.0,3017.0,1070.0,3851.0,...,20.0,3.0,5.0,2.0,6.0,2.0,1.0,2.0,21.0,5.0
3,Arkansas,2018,31744,29318,238.0,6351.0,1199.0,1452.0,511.0,2394.0,...,20.0,4.0,5.0,2.0,8.0,0.0,2.0,0.0,25.0,5.0
4,California,2018,268145,247074,1602.0,60012.0,9475.0,16585.0,6938.0,13595.0,...,22.0,4.0,6.0,3.0,5.0,1.0,1.0,0.0,23.0,6.0
5,Colorado,2018,39007,34225,294.0,7869.0,987.0,1655.0,361.0,2652.0,...,20.0,3.0,4.0,1.0,7.0,1.0,1.0,0.0,19.0,5.0
6,Connecticut,2018,31333,28697,445.0,6528.0,647.0,981.0,630.0,1439.0,...,21.0,2.0,3.0,2.0,5.0,1.0,2.0,0.0,23.0,4.0
7,Delaware,2018,9449,8598,0.0,2067.0,11.0,178.0,33.0,351.0,...,22.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,22.0,6.0
8,District of Columbia,2018,6127,5363,0.0,1319.0,11.0,0.0,10.0,0.0,...,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,1.0
9,Florida,2018,205757,187388,2489.0,44862.0,6206.0,6659.0,3080.0,12379.0,...,22.0,3.0,3.0,1.0,6.0,1.0,2.0,1.0,23.0,7.0
10,Georgia,2018,85356,78389,1681.0,17504.0,2463.0,4574.0,1551.0,5004.0,...,21.0,3.0,5.0,2.0,6.0,2.0,2.0,1.0,22.0,5.0
11,Hawaii,2018,11427,10499,0.0,2384.0,54.0,280.0,377.0,116.0,...,21.0,0.0,2.0,3.0,1.0,0.0,0.0,0.0,23.0,6.0
12,Idaho,2018,14114,12729,0.0,3038.0,180.0,598.0,67.0,897.0,...,22.0,1.0,4.0,0.0,6.0,0.0,0.0,0.0,22.0,5.0
13,Illinois,2018,106459,98005,1702.0,23298.0,2790.0,3976.0,2510.0,5463.0,...,22.0,3.0,4.0,2.0,5.0,1.0,2.0,1.0,23.0,5.0
14,Indiana,2018,66066,60545,1234.0,13405.0,2114.0,2696.0,1101.0,4684.0,...,20.0,3.0,4.0,2.0,7.0,2.0,2.0,0.0,22.0,5.0
15,Iowa,2018,30112,28009,69.0,6382.0,876.0,1444.0,516.0,1857.0,...,21.0,3.0,5.0,2.0,6.0,1.0,0.0,0.0,24.0,5.0
16,Kansas,2018,26374,24142,46.0,5263.0,729.0,870.0,439.0,1773.0,...,20.0,3.0,3.0,2.0,7.0,1.0,1.0,1.0,21.0,5.0
17,Kentucky,2018,48114,43967,906.0,10112.0,1505.0,1611.0,885.0,3375.0,...,21.0,3.0,3.0,2.0,7.0,2.0,2.0,1.0,22.0,4.0
18,Louisiana,2018,46036,41750,1129.0,9313.0,1456.0,2164.0,706.0,2341.0,...,20.0,3.0,5.0,2.0,5.0,2.0,2.0,1.0,25.0,5.0
19,Maine,2018,14507,13178,0.0,3225.0,267.0,463.0,101.0,916.0,...,22.0,2.0,3.0,1.0,6.0,0.0,0.0,0.0,20.0,4.0
20,Maryland,2018,50018,44770,892.0,10844.0,1420.0,1120.0,918.0,2226.0,...,22.0,3.0,2.0,2.0,4.0,1.0,2.0,0.0,23.0,6.0
21,Massachusetts,2018,59800,54880,999.0,12923.0,1388.0,1833.0,1478.0,2771.0,...,22.0,2.0,3.0,2.0,5.0,2.0,2.0,1.0,20.0,4.0
22,Michigan,2018,97234,89174,1231.0,20683.0,2785.0,4455.0,1829.0,5699.0,...,21.0,3.0,5.0,2.0,6.0,1.0,2.0,0.0,26.0,5.0
23,Minnesota,2018,44583,40826,197.0,9980.0,1292.0,2432.0,486.0,2331.0,...,22.0,3.0,5.0,1.0,5.0,1.0,1.0,2.0,19.0,5.0
24,Mississippi,2018,31594,29017,209.0,6332.0,1082.0,1560.0,887.0,2124.0,...,20.0,3.0,5.0,3.0,7.0,1.0,2.0,1.0,24.0,5.0
25,Missouri,2018,65345,59066,922.0,13530.0,1646.0,2646.0,1515.0,4039.0,...,21.0,3.0,4.0,2.0,6.0,2.0,2.0,1.0,23.0,5.0
26,Montana,2018,9951,8981,0.0,2004.0,0.0,33.0,23.0,649.0,...,20.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,24.0,2.0
27,Nebraska,2018,17103,15934,0.0,3567.0,507.0,627.0,201.0,1160.0,...,21.0,3.0,4.0,1.0,7.0,0.0,0.0,0.0,21.0,4.0
28,Nevada,2018,25325,22649,31.0,5171.0,652.0,654.0,400.0,1665.0,...,20.0,3.0,3.0,2.0,7.0,0.0,0.0,0.0,26.0,5.0
29,New Hampshire,2018,12459,11165,0.0,2616.0,0.0,311.0,88.0,707.0,...,21.0,0.0,2.0,1.0,6.0,0.0,0.0,0.0,22.0,2.0
30,New Jersey,2018,74511,68710,1947.0,15650.0,1859.0,2723.0,1433.0,3184.0,...,21.0,2.0,4.0,2.0,4.0,2.0,2.0,1.0,25.0,5.0
31,New Mexico,2018,18354,16042,0.0,3542.0,544.0,455.0,155.0,1139.0,...,19.0,3.0,2.0,1.0,6.0,0.0,0.0,0.0,21.0,4.0
32,New York,2018,100301,93599,1308.0,21446.0,2515.0,2474.0,2690.0,5381.0,...,21.0,3.0,2.0,3.0,5.0,2.0,2.0,1.0,26.0,4.0
33,New York City,2018,54600,51220,200.0,12930.0,1954.0,1178.0,1997.0,1765.0,...,24.0,4.0,2.0,4.0,3.0,0.0,0.0,1.0,32.0,3.0
34,North Carolina,2018,94459,86076,1550.0,19952.0,3007.0,4506.0,2064.0,5361.0,...,21.0,3.0,5.0,2.0,6.0,2.0,2.0,1.0,20.0,5.0
35,North Dakota,2018,6997,6395,0.0,1398.0,23.0,111.0,20.0,67.0,...,20.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,21.0,2.0
36,Ohio,2018,124211,113598,2042.0,25135.0,3848.0,5422.0,2385.0,7527.0,...,20.0,3.0,4.0,2.0,6.0,2.0,2.0,1.0,23.0,5.0
37,Oklahoma,2018,39776,35973,162.0,8232.0,1304.0,1713.0,631.0,2935.0,...,21.0,3.0,4.0,2.0,7.0,0.0,0.0,0.0,26.0,5.0
38,Oregon,2018,36048,32830,0.0,8079.0,1235.0,1864.0,365.0,1886.0,...,22.0,3.0,5.0,1.0,5.0,1.0,0.0,1.0,19.0,6.0
39,Pennsylvania,2018,135564,123715,2463.0,28175.0,3586.0,4030.0,2923.0,6468.0,...,21.0,3.0,3.0,2.0,5.0,2.0,2.0,2.0,24.0,5.0
41,Rhode Island,2018,10427,9472,0.0,2243.0,10.0,303.0,26.0,330.0,...,22.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0,24.0,3.0
42,South Carolina,2018,49400,44691,872.0,10070.0,1554.0,2589.0,730.0,2947.0,...,20.0,3.0,5.0,1.0,6.0,1.0,2.0,1.0,21.0,6.0
43,South Dakota,2018,8083,7382,0.0,1646.0,44.0,210.0,12.0,319.0,...,20.0,1.0,3.0,0.0,4.0,0.0,0.0,0.0,22.0,1.0
44,Tennessee,2018,74574,67680,1055.0,14681.0,2079.0,3550.0,1788.0,4825.0,...,20.0,3.0,5.0,2.0,6.0,1.0,2.0,1.0,23.0,5.0
45,Texas,2018,203781,187002,4464.0,41266.0,6006.0,9789.0,3579.0,10877.0,...,20.0,3.0,5.0,2.0,5.0,2.0,2.0,1.0,23.0,5.0
47,Utah,2018,18931,16743,0.0,3351.0,556.0,1049.0,182.0,884.0,...,18.0,3.0,6.0,1.0,5.0,0.0,0.0,0.0,20.0,5.0
48,Vermont,2018,5766,5159,0.0,1340.0,0.0,87.0,0.0,76.0,...,23.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,23.0,0.0
49,Virginia,2018,68229,62570,1111.0,14874.0,2268.0,2596.0,1230.0,3405.0,...,22.0,3.0,4.0,2.0,5.0,2.0,2.0,1.0,21.0,5.0
50,Washington,2018,56691,51575,429.0,12834.0,1771.0,3750.0,799.0,3002.0,...,23.0,3.0,7.0,1.0,5.0,1.0,0.0,1.0,20.0,5.0
51,West Virginia,2018,22843,20507,75.0,4571.0,918.0,715.0,285.0,1681.0,...,20.0,4.0,3.0,1.0,7.0,0.0,1.0,1.0,21.0,4.0
52,Wisconsin,2018,53346,48303,449.0,11372.0,1518.0,2455.0,979.0,2862.0,...,21.0,3.0,5.0,2.0,5.0,1.0,2.0,0.0,22.0,5.0
53,Wyoming,2018,4640,4112,0.0,916.0,0.0,20.0,0.0,169.0,...,20.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,21.0,0.0

In [83]:
Top_5_death_counts = death_count_2018.sort_values('All_Cause', ascending=False).head(5)

In [84]:
Top_5_death_counts

,State,Year,All_Cause,Natural_Cause,Septicemia,Malignant_Neoplasms,Diabetes,Alzheimer,Flu_and_Pneumonia,Lower_Resp_Diseases,...,PCNT_Malignant_Neoplasms,PCNT_Diabetes,PCNT_Alzheimer,PCNT_Flu_and_Pneumonia,PCNT_Lower_Resp_Diseases,PCNT_Other_Resp_Diseases,PCNT_Nephritis,PCNT_Abnormal_Findings,PCNT_Heart_Disease,PCNT_Cerebrovascular_diseases
4,California,2018,268145,247074,1602.0,60012.0,9475.0,16585.0,6938.0,13595.0,...,22.0,4.0,6.0,3.0,5.0,1.0,1.0,0.0,23.0,6.0
9,Florida,2018,205757,187388,2489.0,44862.0,6206.0,6659.0,3080.0,12379.0,...,22.0,3.0,3.0,1.0,6.0,1.0,2.0,1.0,23.0,7.0
45,Texas,2018,203781,187002,4464.0,41266.0,6006.0,9789.0,3579.0,10877.0,...,20.0,3.0,5.0,2.0,5.0,2.0,2.0,1.0,23.0,5.0
39,Pennsylvania,2018,135564,123715,2463.0,28175.0,3586.0,4030.0,2923.0,6468.0,...,21.0,3.0,3.0,2.0,5.0,2.0,2.0,2.0,24.0,5.0
36,Ohio,2018,124211,113598,2042.0,25135.0,3848.0,5422.0,2385.0,7527.0,...,20.0,3.0,4.0,2.0,6.0,2.0,2.0,1.0,23.0,5.0

In [85]:
bottom_5_death_counts = death_count_2018.sort_values('All_Cause', ascending=True).head(5)

In [86]:
bottom_5_death_counts

,State,Year,All_Cause,Natural_Cause,Septicemia,Malignant_Neoplasms,Diabetes,Alzheimer,Flu_and_Pneumonia,Lower_Resp_Diseases,...,PCNT_Malignant_Neoplasms,PCNT_Diabetes,PCNT_Alzheimer,PCNT_Flu_and_Pneumonia,PCNT_Lower_Resp_Diseases,PCNT_Other_Resp_Diseases,PCNT_Nephritis,PCNT_Abnormal_Findings,PCNT_Heart_Disease,PCNT_Cerebrovascular_diseases
1,Alaska,2018,4289,3614,0.0,884.0,0.0,0.0,0.0,0.0,...,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0
53,Wyoming,2018,4640,4112,0.0,916.0,0.0,20.0,0.0,169.0,...,20.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,21.0,0.0
48,Vermont,2018,5766,5159,0.0,1340.0,0.0,87.0,0.0,76.0,...,23.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,23.0,0.0
8,District of Columbia,2018,6127,5363,0.0,1319.0,11.0,0.0,10.0,0.0,...,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,1.0
35,North Dakota,2018,6997,6395,0.0,1398.0,23.0,111.0,20.0,67.0,...,20.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,21.0,2.0