In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
wealth_data = pd.read_csv(r'C:\Users\hayli\Documents\DA12\Capstone Project\nss-capstone\data\Social_Vulnerability_Index_2018_-_United_States__tract_20240928.csv')

wealth_data.head(5)

,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,...,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP,Shape
0,1,ALABAMA,AL,Calhoun,1015981901,"Census Tract 9819.01, Calhoun County, Alabama",24.243865,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,656,MULTIPOLYGON (((-86.01323399999995 33.68425800...
1,1,ALABAMA,AL,Calhoun,1015981902,"Census Tract 9819.02, Calhoun County, Alabama",34.646714,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,146,MULTIPOLYGON (((-86.01729599999999 33.69662100...
2,1,ALABAMA,AL,Calhoun,1015981903,"Census Tract 9819.03, Calhoun County, Alabama",13.926276,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-85.78500899999995 33.66553500...
3,1,ALABAMA,AL,Mobile,1097003605,"Census Tract 36.05, Mobile County, Alabama",0.732300,899,316,0,...,-999,1,-999,-999,33,36,3.7,4.1,5135,MULTIPOLYGON (((-88.19230199999998 30.69523500...
4,1,ALABAMA,AL,Mobile,1097990000,"Census Tract 9900, Mobile County, Alabama",0.000000,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-88.05337499999997 30.50698700...

In [3]:
weath_data = pd.DataFrame(data=wealth_data)

In [4]:
wealth_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72837 entries, 0 to 72836
Columns: 124 entries, ST to Shape
dtypes: float64(61), int64(58), object(5)
memory usage: 68.9+ MB

In [5]:
wealth_data

,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,...,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP,Shape
0,1,ALABAMA,AL,Calhoun,1015981901,"Census Tract 9819.01, Calhoun County, Alabama",24.243865,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,656,MULTIPOLYGON (((-86.01323399999995 33.68425800...
1,1,ALABAMA,AL,Calhoun,1015981902,"Census Tract 9819.02, Calhoun County, Alabama",34.646714,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,146,MULTIPOLYGON (((-86.01729599999999 33.69662100...
2,1,ALABAMA,AL,Calhoun,1015981903,"Census Tract 9819.03, Calhoun County, Alabama",13.926276,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-85.78500899999995 33.66553500...
3,1,ALABAMA,AL,Mobile,1097003605,"Census Tract 36.05, Mobile County, Alabama",0.732300,899,316,0,...,-999,1,-999,-999,33,36,3.7,4.1,5135,MULTIPOLYGON (((-88.19230199999998 30.69523500...
4,1,ALABAMA,AL,Mobile,1097990000,"Census Tract 9900, Mobile County, Alabama",0.000000,0,12,0,...,-999,-999,-999,-999,0,12,-999.0,-999.0,0,MULTIPOLYGON (((-88.05337499999997 30.50698700...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72832,51,VIRGINIA,VA,Albemarle,51003010903,"Census Tract 109.03, Albemarle County, Virginia",0.378015,3159,553,98,...,1,1,4,6,67,47,2.1,1.3,12094,MULTIPOLYGON (((-78.51643399999995 38.02923900...
72833,51,VIRGINIA,VA,Montgomery,51121020202,"Census Tract 202.02, Montgomery County, Virginia",2.278257,2000,232,1140,...,1,1,4,7,102,64,6.0,3.6,2222,MULTIPOLYGON (((-80.44958399999997 37.20061200...
72834,51,VIRGINIA,VA,Newport News City,51700030100,"Census Tract 301, Newport News city, Virginia",1.636259,4274,612,1647,...,1,1,4,9,436,139,14.9,4.6,6558,MULTIPOLYGON (((-76.43529899999999 36.98216400...
72835,53,WASHINGTON,WA,King,53033005302,"Census Tract 53.02, King County, Washington",0.968062,5320,629,127,...,1,1,4,7,267,98,5.1,1.8,40043,MULTIPOLYGON (((-122.31833899999997 47.6553730...
72836,53,WASHINGTON,WA,Yakima,53077000100,"Census Tract 1, Yakima County, Washington",1.136201,3170,325,1047,...,1,1,4,11,450,125,21.8,5.6,18952,MULTIPOLYGON (((-120.51994199999996 46.6045990...

In [6]:
wealth_data_short = wealth_data[['STATE', 'ST_ABBR', 'E_TOTPOP', 'E_POV', 'E_UNEMP', 'E_PCI', 'E_NOHSDP', 'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_NOVEH', 'EP_POV', 'EP_UNEMP', 'EP_PCI', 'EP_NOHSDP', 'EP_AGE65', 'EP_AGE17', 'EP_SNGPNT', 'EP_MINRTY', 'EP_NOVEH', 'EPL_POV', 'EPL_UNEMP', 'EPL_PCI', 'EPL_NOHSDP', 'SPL_THEME1', 'RPL_THEME1', 'EPL_MINRTY', 'F_POV', 'F_UNEMP', 'F_PCI', 'F_NOHSDP', 'F_THEME1', 'F_MINRTY', 'F_LIMENG', 'F_THEME3', 'E_UNINSUR', 'EP_UNINSUR']]

In [7]:
wealth_data_short

,STATE,ST_ABBR,E_TOTPOP,E_POV,E_UNEMP,E_PCI,E_NOHSDP,E_SNGPNT,E_MINRTY,E_LIMENG,...,F_POV,F_UNEMP,F_PCI,F_NOHSDP,F_THEME1,F_MINRTY,F_LIMENG,F_THEME3,E_UNINSUR,EP_UNINSUR
0,ALABAMA,AL,0,0,0,-999,0,0,0,0,...,-999,-999,-999,-999,-999,-999,-999,-999,0,-999.0
1,ALABAMA,AL,0,0,0,-999,0,0,0,0,...,-999,-999,-999,-999,-999,-999,-999,-999,0,-999.0
2,ALABAMA,AL,0,0,0,-999,0,0,0,0,...,-999,-999,-999,-999,-999,-999,-999,-999,0,-999.0
3,ALABAMA,AL,899,0,40,2651,0,0,330,0,...,-999,0,1,-999,-999,0,0,0,33,3.7
4,ALABAMA,AL,0,0,0,-999,0,0,0,0,...,-999,-999,-999,-999,-999,-999,-999,-999,0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72832,VIRGINIA,VA,3159,164,62,4089,44,0,1167,29,...,1,0,1,0,2,0,0,0,67,2.1
72833,VIRGINIA,VA,2000,307,116,31675,242,73,518,32,...,0,1,0,0,1,0,0,0,102,6.0
72834,VIRGINIA,VA,4274,1324,251,13370,575,334,3397,13,...,1,1,1,0,3,0,0,0,436,14.9
72835,WASHINGTON,WA,5320,108,299,4155,27,0,3013,100,...,1,1,1,0,3,0,0,0,267,5.1
72836,WASHINGTON,WA,3170,847,104,11406,845,179,2119,429,...,1,1,1,1,4,0,1,1,450,21.8

In [8]:
wealth_data_state = wealth_data_short.groupby(['STATE', 'ST_ABBR']).sum()[['E_TOTPOP', 'E_POV', 'E_UNEMP']]
wealth_data_state

                              E_TOTPOP    E_POV  E_UNEMP
STATE                ST_ABBR
ALABAMA              AL        4864680   829400   147898
ALASKA               AK         738516    77865    28067
ARIZONA              AZ        6946685  1092192   210214
ARKANSAS             AR        2990671   510337    75774
CALIFORNIA           CA       39148760  5487141  1321502
COLORADO             CO        5531141   590504   139326
CONNECTICUT          CT        3581504   348449   125909
DELAWARE             DE         949495   109798    28501
DISTRICT OF COLUMBIA DC         684498   109497    29373
FLORIDA              FL       20598139  2983851   622978
GEORGIA              GA       10297484  1607714   322854
HAWAII               HI        1422029   137516    32036
IDAHO                ID        1687809   228882    37672
ILLINOIS             IL       12821497  1635603   437139
INDIANA              IN        6637426   908359   180969
IOWA                 IA        3132499   353634    65216
KANSAS               KS        2908776   350280    65038
KENTUCKY             KY        4440204   772080   128358
LOUISIANA            LA        4663616   878394   149850
MAINE                ME        1332813   161743    32203
MARYLAND             MD        6003435   553496   181089
MASSACHUSETTS        MA        6830193   710305   203464
MICHIGAN             MI        9957488  1457008   321008
MINNESOTA            MN        5527358   547442   119218
MISSISSIPPI          MS        2988762   599795   110036
MISSOURI             MO        6090062   837930   155958
MONTANA              MT        1041732   139063    22433
NEBRASKA             NE        1904760   213790    36545
NEVADA               NV        2922849   393431   101748
NEW HAMPSHIRE        NH        1343622   102352    30392
NEW JERSEY           NJ        8881845   904132   285084
NEW MEXICO           NM        2092434   390295    58248
NEW YORK             NY       19618453  2797985   602636
NORTH CAROLINA       NC       10155624  1523949   312610
NORTH DAKOTA         ND         752201    79270    11689
OHIO                 OH       11641879  1645986   343232
OKLAHOMA             OK        3918137   607810    99087
OREGON               OR        4081943   565247   123485
PENNSYLVANIA         PA       12791181  1578949   379765
RHODE ISLAND         RI        1056611   133055    34479
SOUTH CAROLINA       SC        4955925   770632   153242
SOUTH DAKOTA         SD         864289   113144    16252
TENNESSEE            TN        6651089  1046508   191544
TEXAS                TX       27885195  4213938   743006
UTAH                 UT        3045350   309904    58958
VERMONT              VT         624977    67034    13878
VIRGINIA             VA        8413774   893580   217670
WASHINGTON           WA        7294336   821621   198330
WEST VIRGINIA        WV        1829054   315464    53750
WISCONSIN            WI        5778394   668220   124792
WYOMING              WY         581836    63311    13685

In [9]:
chronic_disease = pd.read_csv(r'C:\Users\hayli\Documents\DA12\Capstone Project\nss-capstone\data\U.S._Chronic_Disease_Indicators__CDI___2023_Release.csv')

C:\Users\hayli\AppData\Local\Temp\ipykernel_26748\2803124408.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  chronic_disease = pd.read_csv(r'C:\Users\hayli\Documents\DA12\Capstone Project\nss-capstone\data\U.S._Chronic_Disease_Indicators__CDI___2023_Release.csv')

In [10]:
chronic_disease

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2014,2014,AR,Arkansas,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,5,AST,AST3_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2017,2017,GA,Georgia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,13,AST,AST3_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
4,2010,2010,MI,Michigan,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,26,AST,AST3_1,NMBR,RACE,HIS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185671,2020,2020,WY,Wyoming,BRFSS,Diabetes,Dilated eye examination among adults aged >= 1...,NaN,%,Age-adjusted Prevalence,...,56,DIA,DIA7_0,AGEADJPREV,RACE,WHT,NaN,NaN,NaN,NaN
1185672,2020,2020,WY,Wyoming,BRFSS,Older Adults,Proportion of older adults aged >= 65 years wh...,NaN,%,Crude Prevalence,...,56,OLD,OLD3_1,CRDPREV,RACE,WHT,NaN,NaN,NaN,NaN
1185673,2017,2017,IA,Iowa,BRFSS,Arthritis,Activity limitation due to arthritis among adu...,NaN,%,Age-adjusted Prevalence,...,19,ART,ART2_1,AGEADJPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185674,2020,2020,WY,Wyoming,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,Crude Prevalence,...,56,DIA,DIA2_2,CRDPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185675,2019,2019,RI,Rhode Island,BRFSS,Arthritis,Activity limitation due to arthritis among adu...,NaN,%,Crude Prevalence,...,44,ART,ART2_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [11]:
chronic_disease_2018 = chronic_disease[chronic_disease['YearStart'] == 2018]
chronic_disease_2018

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
17,2018,2018,KS,Kansas,NVSS,Asthma,Asthma mortality rate,NaN,Number,Number,...,20,AST,AST4_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
106,2018,2018,PR,Puerto Rico,SEDD; SID,Chronic Obstructive Pulmonary Disease,Hospitalization for chronic obstructive pulmon...,NaN,NaN,Number,...,72,COPD,COPD5_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
111,2018,2018,DC,District of Columbia,SEDD; SID,Chronic Obstructive Pulmonary Disease,Hospitalization for chronic obstructive pulmon...,NaN,NaN,Number,...,11,COPD,COPD5_2,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185569,2018,2018,WY,Wyoming,BRFSS,Tobacco,Quit attempts in the past year among current s...,NaN,%,Age-adjusted Prevalence,...,56,TOB,TOB3_0,AGEADJPREV,RACE,MRC,NaN,NaN,NaN,NaN
1185577,2018,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,NaN,%,Age-adjusted Prevalence,...,56,TOB,TOB2_2,AGEADJPREV,RACE,OTH,NaN,NaN,NaN,NaN
1185652,2018,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,NaN,%,Crude Prevalence,...,56,TOB,TOB2_2,CRDPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185661,2018,2018,WY,Wyoming,BRFSS,Tobacco,Quit attempts in the past year among current s...,NaN,%,Crude Prevalence,...,56,TOB,TOB3_0,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
1185663,2018,2018,WY,Wyoming,BRFSS,Tobacco,Current smokeless tobacco use among adults age...,NaN,%,Crude Prevalence,...,56,TOB,TOB2_2,CRDPREV,RACE,WHT,NaN,NaN,NaN,NaN

In [12]:
chronic_disease_2018_state = chronic_disease_2018.groupby(['LocationAbbr', 'LocationDesc', 'Topic', 'StratificationCategoryID1', 'StratificationID1']).mean(['LowConfidenceLimit', 'HighConfidenceLimit'])

In [13]:
chronic_disease_2018_state

                                                                               YearStart  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                  2018.0
                                                            GENM                  2018.0
                                  OVERALL                   OVR                   2018.0
                                  RACE                      AIAN                  2018.0
                                                            API                   2018.0
...                                                                                  ...
WY           Wyoming      Tobacco RACE                      BLK                   2018.0
                                                            HIS                   2018.0
                                                            MRC                   2018.0
                                                            OTH                   2018.0
                                                            WHT                   2018.0

                                                                               YearEnd  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                2018.0
                                                            GENM                2018.0
                                  OVERALL                   OVR                 2018.0
                                  RACE                      AIAN                2018.0
                                                            API                 2018.0
...                                                                                ...
WY           Wyoming      Tobacco RACE                      BLK                 2018.0
                                                            HIS                 2018.0
                                                            MRC                 2018.0
                                                            OTH                 2018.0
                                                            WHT                 2018.0

                                                                               Response  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                    NaN
                                                            GENM                    NaN
                                  OVERALL                   OVR                     NaN
                                  RACE                      AIAN                    NaN
                                                            API                     NaN
...                                                                                 ...
WY           Wyoming      Tobacco RACE                      BLK                     NaN
                                                            HIS                     NaN
                                                            MRC                     NaN
                                                            OTH                     NaN
                                                            WHT                     NaN

                                                                               DataValueAlt  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                  13.600000
                                                            GENM                  15.563636
                                  OVERALL                   OVR                   20.713333
                                  RACE                      AIAN                  40.200000
                                                            API                   42.100000
...                                                                                     ...
WY           Wyoming      Tobacco RACE                      BLK                         NaN
                                                            HIS                   27.575000
                                                            MRC                         NaN
                                                            OTH                   24.175000
                                                            WHT                   29.925000

                                                                               LowConfidenceLimit  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                         6.820000
                                                            GENM                         8.890000
                                  OVERALL                   OVR                         12.300000
                                  RACE                      AIAN                        30.766667
                                                            API                         29.300000
...                                                                                           ...
WY           Wyoming      Tobacco RACE                      BLK                               NaN
                                                            HIS                         20.150000
                                                            MRC                               NaN
                                                            OTH                         15.200000
                                                            WHT                         25.341667

                                                                               HighConfidenceLimit  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                         11.750000
                                                            GENM                         13.340000
                                  OVERALL                   OVR                          16.761538
                                  RACE                      AIAN                         50.366667
                                                            API                          56.000000
...                                                                                            ...
WY           Wyoming      Tobacco RACE                      BLK                                NaN
                                                            HIS                          36.512500
                                                            MRC                                NaN
                                                            OTH                          36.350000
                                                            WHT                          34.675000

                                                                               StratificationCategory2  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                                   NaN
                                                            GENM                                   NaN
                                  OVERALL                   OVR                                    NaN
                                  RACE                      AIAN                                   NaN
                                                            API                                    NaN
...                                                                                                ...
WY           Wyoming      Tobacco RACE                      BLK                                    NaN
                                                            HIS                                    NaN
                                                            MRC                                    NaN
                                                            OTH                                    NaN
                                                            WHT                                    NaN

                                                                               Stratification2  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                           NaN
                                                            GENM                           NaN
                                  OVERALL                   OVR                            NaN
                                  RACE                      AIAN                           NaN
                                                            API                            NaN
...                                                                                        ...
WY           Wyoming      Tobacco RACE                      BLK                            NaN
                                                            HIS                            NaN
                                                            MRC                            NaN
                                                            OTH                            NaN
                                                            WHT                            NaN

                                                                               StratificationCategory3  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                                   NaN
                                                            GENM                                   NaN
                                  OVERALL                   OVR                                    NaN
                                  RACE                      AIAN                                   NaN
                                                            API                                    NaN
...                                                                                                ...
WY           Wyoming      Tobacco RACE                      BLK                                    NaN
                                                            HIS                                    NaN
                                                            MRC                                    NaN
                                                            OTH                                    NaN
                                                            WHT                                    NaN

                                                                               Stratification3  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                           NaN
                                                            GENM                           NaN
                                  OVERALL                   OVR                            NaN
                                  RACE                      AIAN                           NaN
                                                            API                            NaN
...                                                                                        ...
WY           Wyoming      Tobacco RACE                      BLK                            NaN
                                                            HIS                            NaN
                                                            MRC                            NaN
                                                            OTH                            NaN
                                                            WHT                            NaN

                                                                               ResponseID  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                      NaN
                                                            GENM                      NaN
                                  OVERALL                   OVR                       NaN
                                  RACE                      AIAN                      NaN
                                                            API                       NaN
...                                                                                   ...
WY           Wyoming      Tobacco RACE                      BLK                       NaN
                                                            HIS                       NaN
                                                            MRC                       NaN
                                                            OTH                       NaN
                                                            WHT                       NaN

                                                                               LocationID  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                      2.0
                                                            GENM                      2.0
                                  OVERALL                   OVR                       2.0
                                  RACE                      AIAN                      2.0
                                                            API                       2.0
...                                                                                   ...
WY           Wyoming      Tobacco RACE                      BLK                      56.0
                                                            HIS                      56.0
                                                            MRC                      56.0
                                                            OTH                      56.0
                                                            WHT                      56.0

                                                                               StratificationCategoryID2  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                                     NaN
                                                            GENM                                     NaN
                                  OVERALL                   OVR                                      NaN
                                  RACE                      AIAN                                     NaN
                                                            API                                      NaN
...                                                                                                  ...
WY           Wyoming      Tobacco RACE                      BLK                                      NaN
                                                            HIS                                      NaN
                                                            MRC                                      NaN
                                                            OTH                                      NaN
                                                            WHT                                      NaN

                                                                               StratificationID2  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                             NaN
                                                            GENM                             NaN
                                  OVERALL                   OVR                              NaN
                                  RACE                      AIAN                             NaN
                                                            API                              NaN
...                                                                                          ...
WY           Wyoming      Tobacco RACE                      BLK                              NaN
                                                            HIS                              NaN
                                                            MRC                              NaN
                                                            OTH                              NaN
                                                            WHT                              NaN

                                                                               StratificationCategoryID3  \
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                                     NaN
                                                            GENM                                     NaN
                                  OVERALL                   OVR                                      NaN
                                  RACE                      AIAN                                     NaN
                                                            API                                      NaN
...                                                                                                  ...
WY           Wyoming      Tobacco RACE                      BLK                                      NaN
                                                            HIS                                      NaN
                                                            MRC                                      NaN
                                                            OTH                                      NaN
                                                            WHT                                      NaN

                                                                               StratificationID3
LocationAbbr LocationDesc Topic   StratificationCategoryID1 StratificationID1
AK           Alaska       Alcohol GENDER                    GENF                             NaN
                                                            GENM                             NaN
                                  OVERALL                   OVR                              NaN
                                  RACE                      AIAN                             NaN
                                                            API                              NaN
...                                                                                          ...
WY           Wyoming      Tobacco RACE                      BLK                              NaN
                                                            HIS                              NaN
                                                            MRC                              NaN
                                                            OTH                              NaN
                                                            WHT                              NaN

[8258 rows x 16 columns]

In [14]:
chronic_disease_2018_state = chronic_disease_2018_state[['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource', 'Topic', 'Question',	'DataValueUnit', 'DataValueType', 'DataValue', 'DataValueAlt', 'DatavalueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit','StratificationCategoryID1', 'StratificationID1']]

KeyError: "['LocationAbbr', 'LocationDesc', 'DataSource', 'Topic', 'Question', 'DataValueUnit', 'DataValueType', 'DataValue', 'DatavalueFootnote', 'StratificationCategoryID1', 'StratificationID1'] not in index"